/* line 36, ../../../scss/components/steps/steps.scss */
.steps-wrapper {
  padding: 20px 0 0;
  min-height: 110px;
}
/* line 39, ../../../scss/components/steps/steps.scss */
.steps-wrapper .form-horizontal {
  margin: 0;
  width: auto;
}

/* line 44, ../../../scss/components/steps/steps.scss */
.steps-footer {
  background-color: #546474;
  height: 40px;
  border-radius: 0 0 4px 4px;
  border-bottom: 3px solid #454d59;
  position: relative;
  margin: 0 -1px;
  clear: both;
}
/* line 53, ../../../scss/components/steps/steps.scss */
.steps-footer .btn-primary {
  border-radius: 0 0 4px 0;
  float: right;
  top: 0;
  right: 0;
  line-height: 36px;
  padding: 4px 15px 0;
}
/* line 62, ../../../scss/components/steps/steps.scss */
.steps-footer #prev.btn-primary {
  right: 100px;
}
/* line 65, ../../../scss/components/steps/steps.scss */
.steps-footer .md-button.md-raised {
  padding: 2px 8px;
}

/* line 69, ../../../scss/components/steps/steps.scss */
.steps-info {
  color: #ccc;
  font-size: 12px;
  font-style: italic;
  font-family: robotoregular;
  display: inline-block;
  line-height: 40px;
  padding-left: 20px;
}

/* line 78, ../../../scss/components/steps/steps.scss */
.steps-glow {
  width: 60px;
  margin-left: 25px;
  height: 2px;
  background-color: #454d59;
  display: inline-block;
  position: relative;
  margin-bottom: 2px;
}
/* line 86, ../../../scss/components/steps/steps.scss */
.steps-glow:after {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  top: -1px;
  content: "";
  border-radius: 3px;
  box-shadow: 0 0 5px #ffffff;
}
/* line 99, ../../../scss/components/steps/steps.scss */
.steps-glow.step2:after {
  left: 25%;
}
/* line 102, ../../../scss/components/steps/steps.scss */
.steps-glow.step3:after {
  left: 50%;
}
/* line 105, ../../../scss/components/steps/steps.scss */
.steps-glow.step4:after {
  left: 75%;
}
/* line 108, ../../../scss/components/steps/steps.scss */
.steps-glow.step5:after {
  left: 100%;
}

/* line 112, ../../../scss/components/steps/steps.scss */
.btn i.fa-chevron-right {
  margin: 0;
  margin-left: 8px;
  vertical-align: text-bottom;
}

/* line 117, ../../../scss/components/steps/steps.scss */
#prev.btn-primary i.fa-chevron-left {
  vertical-align: text-bottom;
}

/* line 121, ../../../scss/components/steps/steps.scss */
.checkout-wrap {
  color: #444;
  font-family: PT Sans Caption, sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

@media all and (min-width: 800px) {
  /* line 129, ../../../scss/components/steps/steps.scss */
  .checkout-wrap {
    margin: 80px auto;
  }

  /* line 132, ../../../scss/components/steps/steps.scss */
  .checkout-bar li.active:after {
    background-size: 8px 8px;
    background-color: #31328a;
    content: "";
    height: 7px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -30px;
    z-index: 0;
  }

  /* line 143, ../../../scss/components/steps/steps.scss */
  ul.checkout-bar {
    background-size: 35px 35px;
    background-color: #e5e5e5;
    height: 7px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
    max-width: 630px;
  }
  /* line 152, ../../../scss/components/steps/steps.scss */
  ul.checkout-bar li {
    display: inline-block;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  /* line 158, ../../../scss/components/steps/steps.scss */
  ul.checkout-bar li:before {
    height: 30px;
    left: 40%;
    line-height: 30px;
    position: absolute;
    top: -48px;
    width: 30px;
    z-index: 99;
  }
  /* line 167, ../../../scss/components/steps/steps.scss */
  ul.checkout-bar li.visited {
    background: none;
  }
  /* line 169, ../../../scss/components/steps/steps.scss */
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}
/* line 186, ../../../scss/components/steps/steps.scss */
.wizard-steps {
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
  height: 70px;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 196, ../../../scss/components/steps/steps.scss */
.wizard-steps li {
  width: 28%;
  float: left;
}
/* line 200, ../../../scss/components/steps/steps.scss */
.wizard-steps li.active:before {
  border-color: #31328a;
  background: url(images/progress-bar.jpg);
}
/* line 204, ../../../scss/components/steps/steps.scss */
.wizard-steps li.active .step {
  border-color: #31328a;
  background: url(images/progress-bar.jpg);
}
/* line 208, ../../../scss/components/steps/steps.scss */
.wizard-steps li.active .title {
  color: #2b3d53;
  color: #31328a;
}
/* line 211, ../../../scss/components/steps/steps.scss */
.wizard-steps li.active .title a {
  color: #31328a;
}
/* line 217, ../../../scss/components/steps/steps.scss */
.wizard-steps li.complete:before {
  border-color: #31328a;
}
/* line 220, ../../../scss/components/steps/steps.scss */
.wizard-steps li.complete .step {
  border-color: #31328a;
  cursor: default;
  color: #ffffff;
  transition: transform ease 0.1s;
}
/* line 226, ../../../scss/components/steps/steps.scss */
.wizard-steps li.complete .step:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  content: "\f00c";
  background-color: #ffffff;
  z-index: 3;
  font-family: FontAwesome;
  font-size: 17px;
  color: #87ba21;
}
/* line 246, ../../../scss/components/steps/steps.scss */
.wizard-steps li.complete:hover .step {
  transform: scale(1.1);
  border-color: #80afd4;
}
/* line 251, ../../../scss/components/steps/steps.scss */
.wizard-steps li.complete:hover:before {
  border-color: #80afd4;
}
/* line 255, ../../../scss/components/steps/steps.scss */
.wizard-steps li.complete .title {
  color: #2b3d53;
}
/* line 259, ../../../scss/components/steps/steps.scss */
.wizard-steps li:first-child {
  width: 75px;
}
/* line 261, ../../../scss/components/steps/steps.scss */
.wizard-steps li:first-child:before {
  display: none;
  width: 100%;
  max-width: 100%;
  left: 0;
}
/* line 267, ../../../scss/components/steps/steps.scss */
.wizard-steps li:first-child .step {
  margin: 7px auto 5px auto;
}
/* line 271, ../../../scss/components/steps/steps.scss */
.wizard-steps li .step {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #e5e5e5;
  float: right;
  color: #546474;
  font-size: 15px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}
/* line 286, ../../../scss/components/steps/steps.scss */
.wizard-steps li .step > span:first-child {
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  margin-top: 6px;
}
/* line 297, ../../../scss/components/steps/steps.scss */
.wizard-steps li.visited .step {
  background-color: #31328a;
}
/* line 299, ../../../scss/components/steps/steps.scss */
.wizard-steps li.visited .step > span:first-child {
  background-color: #31328a;
}
/* line 303, ../../../scss/components/steps/steps.scss */
.wizard-steps li.visited:before {
  background-color: #31328a;
}
/* line 306, ../../../scss/components/steps/steps.scss */
.wizard-steps li.visited .title {
  color: #31328a;
}
/* line 308, ../../../scss/components/steps/steps.scss */
.wizard-steps li.visited .title a {
  cursor: pointer;
  color: #31328a;
}
/* line 314, ../../../scss/components/steps/steps.scss */
.wizard-steps li .title {
  color: #ccc;
  font-size: 12px;
  font-style: italic;
  font-family: robotoregular;
  position: absolute;
  right: -135%;
  width: 370%;
  max-width: none;
  top: 35px;
  margin-top: 0;
  line-height: 22px;
  z-index: 104;
  display: block;
  text-align: center;
  table-layout: fixed;
  word-wrap: break-word;
}
/* line 331, ../../../scss/components/steps/steps.scss */
.wizard-steps li .title a {
  cursor: pointer;
  color: #31328a;
}
/* line 334, ../../../scss/components/steps/steps.scss */
.wizard-steps li .title a:hover {
  text-decoration: none;
}
/* line 339, ../../../scss/components/steps/steps.scss */
.wizard-steps li:before {
  display: block;
  content: "";
  width: 100%;
  height: 7px;
  font-size: 0;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;
  top: 20px;
  z-index: 1;
}
/* line 351, ../../../scss/components/steps/steps.scss */
.wizard-steps li:last-child:before {
  width: 100%;
  max-width: 100%;
}

/* line 358, ../../../scss/components/steps/steps.scss */
.step-content .step-pane {
  display: none;
  min-height: 200px;
  padding: 4px 8px 12px;
}
/* line 363, ../../../scss/components/steps/steps.scss */
.step-content .active {
  display: block;
}

/* line 367, ../../../scss/components/steps/steps.scss */
.wizard-actions {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  /* line 371, ../../../scss/components/steps/steps.scss */
  .wizard-steps {
    margin-left: -40px;
    min-width: 300px;
  }
  /* line 374, ../../../scss/components/steps/steps.scss */
  .wizard-steps li {
    width: 25%;
  }
  /* line 376, ../../../scss/components/steps/steps.scss */
  .wizard-steps li .step {
    width: 30px;
    height: 30px;
    line-height: 24px;
    border-width: 3px;
  }
  /* line 382, ../../../scss/components/steps/steps.scss */
  .wizard-steps li .step > span:first-child {
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    margin-top: 4px;
    margin-left: 0px;
  }
  /* line 393, ../../../scss/components/steps/steps.scss */
  .wizard-steps li:before {
    border-width: 3px;
    top: 16px;
  }
  /* line 397, ../../../scss/components/steps/steps.scss */
  .wizard-steps li:after {
    border-width: 3px;
  }
  /* line 400, ../../../scss/components/steps/steps.scss */
  .wizard-steps li.complete .step:before {
    line-height: 24px;
    font-size: 13px;
  }
  /* line 404, ../../../scss/components/steps/steps.scss */
  .wizard-steps li .title {
    right: -95%;
    font-size: 9px;
    width: 85px;
    word-wrap: normal;
    word-break: break-word;
    line-height: 13px;
  }

  /* line 414, ../../../scss/components/steps/steps.scss */
  .step-content .step-pane {
    padding: 4px 4px 6px;
  }
}
/* line 419, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li {
  color: #ccc;
  display: block;
  padding: 14px 20px 14px 80px;
  position: relative;
  font-style: italic;
  font-family: robotoregular, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
/* line 427, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:before {
  background: #ffffff;
  border: 5px solid #e5e5e5;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
  z-index: 999;
}
/* line 444, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li.active {
  color: #31328a;
  font-style: italic;
  font-family: robotoregular, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
/* line 449, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li.active:before {
  background: #31328a;
  border-color: #31328a;
  z-index: 99999;
}
/* line 455, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li.visited {
  background: #ececec;
  color: #57aed1;
  z-index: 99999;
}
/* line 459, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
/* line 464, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:nth-child(1):before {
  content: "";
}
/* line 467, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:nth-child(2):before {
  content: "";
}
/* line 470, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:nth-child(3):before {
  content: "";
}
/* line 473, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:nth-child(4):before {
  content: "";
}
/* line 476, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:nth-child(5):before {
  content: "";
}
/* line 479, ../../../scss/components/steps/steps.scss */
ul.checkout-bar li:nth-child(6):before {
  content: "";
}
/* line 483, ../../../scss/components/steps/steps.scss */
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@-webkit-keyframes myanimation {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
