<header class="page-header"><h3>Opérations Membre {{ participate.member.firstName}} {{
    participate.member.lastName}}</h3></header>

<infos-mandataire></infos-mandataire>

<div ng-include="'app/program/views/header/header.html'"></div>

<div ng-if="!waitingSettlements.length">
    <div ng-if="program.isEasy" id="formAffairNew-placeholder">
        <div ng-include="'app/program/views/sponsorship/newAffair.html'"></div>
    </div>

    <md-content class="md-padding" layout-xs="column" layout="row" ng-if="!program.isEasy">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card>
                <md-toolbar class="md-table-toolbar md-default mt-md">
                    <div class="md-toolbar-tools" layout="row" layout-wrap style="min-height:130px;">
                        <div flex="100"><h3 class="title-header">Crédit Points</h3></div>
                        <div flex="70">
                            <div id="liste-operations" class="width-50 left">
                                <md-select class="mt-none" aria-label="operation" ng-model="selected.operation">
                                    <md-option ng-repeat="operation in operations" ng-value="operation">
                                        {{operation.label}}
                                    </md-option>
                                </md-select>
                            </div>
                            <div class="width-50 left">
                              <span ng-if="selected.operation" class="mr-md ml-lg" id="points-operations">
                                <input type="text" id="amount-operation" class="md-small mt-md"
                                       ng-model="selected.operation.defaultAmount">
                                <span ng-if="selected.operation.isMulti">MultiPoints</span>
                                <span ng-if="!selected.operation.isMulti">Points</span>
                            </span>
                            </div>


                        </div>
                        <div flex="30">
                            <md-button ng-click="validateOperation()" class="md-raised md-primary right">
                                Valider
                                <md-icon md-font-icon="fa fa-chevron-right"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </md-toolbar>
            </md-card>
        </div>
    </md-content>

</div>

<md-content ng-if="waitingSettlements.length" class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-card-image">
                        <ng-md-icon icon="warning" class="orange-color md-card-icon" size="48"></ng-md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text class="md-card-left">
                    <span class="md-subhead">Une commande est en attente de règlement pour le programme {{ program.label}}.</span>
                    <span class="md-subhead">Aucune opération Membre ne peut être effectuée tant que cette commande n'aura pas été réglée.</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>

</md-content>


<md-content ng-if="!waitingSettlements.length" class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools" layout="row" layout-wrap style="min-height:150px;">
                    <div flex="100"><h3 class="title-header">Post parrainage</h3></div>
                    <span class="text-xs">Saisissez les informations relatives au filleul de <b>{{
                        participate.member.firstName}} {{
                        participate.member.lastName}} </b>:
                    </span>
                    <md-toolbar class="md-hue-1" >
                        <div class="md-toolbar-tools">
                            <md-input-container md-theme="input" flex>
                                <label>&nbsp;</label>
                                <input ng-keypress="$event.keyCode == 13 && searchFilleuls(search)" ng-model="search"
                                       type="text" class="search-query nav-search-input" placeholder="Recherche ...">
                            </md-input-container>
                            <md-button aria-label="Recherche ..." ng-click="showSearch = !showSearch">
                                <ng-md-icon class="grey-color" icon="search"></ng-md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Nom-Prénom <br> Téléphone-Email</span></th>
                        <th md-column><span>Points</span></th>
                        <th md-column><span>Filleuls</span></th>
                        <th md-column><span>Action</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="searchedFilleul in searchedFilleuls.filleuls">
                        <td md-cell>
                            <div class="pt-md pb-md">
                                {{searchedFilleul.lastName}} {{searchedFilleul.firstName}} <br>
                                <span ng-if="searchedFilleul.phone">{{searchedFilleul.phone}} -</span>
                                {{searchedFilleul.email}}
                            </div>
                        </td>
                        <td md-cell>{{searchedFilleul.points}}</td>
                        <td md-cell>{{searchedFilleul.filleuls}}</td>
                        <td md-cell>
                                <span class="action-parrainage" ng-click="confirmSponsorship(searchedFilleul)">
                                    <i class="fa fa-check"></i>
                                    <md-tooltip md-direction="top">Confirmation de Parrainage</md-tooltip>
                                </span>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>

</md-content>

<md-content ng-if="accountPointsHistory != 0" class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span class="text-md">Total de vos gains :</span>

                <div flex></div>
                <b class="red-color text-md">{{participate.totalPoints}} Points</b>
            </div>
        </md-toolbar>
        <md-card ng-if="accountPointsHistory != 0">
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Date</span></th>
                        <th md-column><span>Événement</span></th>
                        <th md-column><span>Points</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="account in accountPointsHistory" ng-if="account.status != 'standby'">
                        <td md-cell>{{account.createdDate| date:"dd/MM/yyyy"}}</td>
                        <td md-cell>{{account.description}}</td>
                        <td md-cell>{{account.points}}</td>
                    </tr>

                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>
</md-content>

<div ng-include="'app/program/views/sponsorship/filleuls.html'"></div>

<div ng-include="'app/program/views/sponsorship/sponsorshipDialogs.html'"></div>
