/* line 2, ../../../scss/components/md-slider/md-slider.scss */
md-slider .md-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -16px;
  top: -20px;
  width: 32px;
  height: 28px;
  transform: translate3d(0, 0, 0) scale(1) !important;
  transition: all 0.2s ease-in-out;
}
/* line 15, ../../../scss/components/md-slider/md-slider.scss */
md-slider .md-sign:after {
  position: absolute;
  content: '';
  left: 2px;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1) !important;
  transition: all 0.2s ease-in-out;
}
/* line 33, ../../../scss/components/md-slider/md-slider.scss */
md-slider.value-purcent .md-sign .md-thumb-text {
  z-index: 1;
  font-size: 10px;
  font-weight: bold;
}
/* line 37, ../../../scss/components/md-slider/md-slider.scss */
md-slider.value-purcent .md-sign .md-thumb-text:after {
  content: "%";
  vertical-align: super;
  font-size: 7px;
}
/* line 43, ../../../scss/components/md-slider/md-slider.scss */
md-slider.value-month .md-sign .md-thumb-text {
  z-index: 1;
  font-size: 10px;
  font-weight: bold;
}
/* line 47, ../../../scss/components/md-slider/md-slider.scss */
md-slider.value-month .md-sign .md-thumb-text:after {
  content: "mois";
  vertical-align: super;
  font-size: 7px;
}
