{% extends "AprProgramBundle:Default:baseMarketing.html.twig" %}
{% block content %}
    <!-- header -->
    <header class="header clear goToTopFaq " role="banner">
        <!-- wrapper -->
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!-- logo -->
                    <div class="logo">
                        <a href="#">
                            <img src={{ asset('bundles/Edtapp/img/marketing/logo.png')}} alt="Logo" class="logo-img">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
            </div>
        </div>
        <!-- /wrapper -->
    </header>
    <!-- /header -->

    <main role="main">
        <div class="wrapper">
            <!-- section -->
            <section>
                <h1>Foire aux questions</h1>
                <article id="post-48" class="post-48 page type-page status-publish hentry">

                    <div class="qa-faqs qa-category cf animation-fade accordion collapsible">
                        <div class="qa-category">
                            <h2 class="faq-catname">A propos de <strong><i>Coopérons !</i></strong></h2>
                            <div id="qa-faq100" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Qui sommes nous ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>Fondée en 2013, <strong><i>Coopérons !</i></strong> est une jeune entreprise
                                        de services aux entrepreneurs. <br>
                                        Nous sommes partis d'un constat simple: pour la plupart des TPE / PME, la recommandation
                                        client constitue bien souvent la première source de nouveaux clients. <br>
                                        Malheureusement, ce potentiel reste bien souvent inexploité - principalement à cause
                                        de la lourdeur administrative liée à la rémunération d'intervenants non-salariés.<br>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq101" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Nous contacter</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p> Une question ? Besoin de plus d'information ?<br>
                                        Que vous soyez membre ou client de <strong><i>Coopérons !</i></strong>,
                                        Emmanuel Ifergan, fondateur et gérant de <strong><i>Coopérons !</i></strong>
                                        est joignable par email à:
                                        <a href="mailto:ei@cooperons.com">ei@cooperons.com.</a><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa-category">
                            <h2 class="faq-catname">Les Points et MultiPoints</h2>
                            <div id="qa-faq200" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Comment gagner des Points et MultiPoints ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p> Tous les programmes de stimulation auxquels vous participez sur <strong><i>Coopérons !</i></strong>
                                        vous permettent de gagner des Points dans certaines conditions - détaillées dans le
                                        cadre des Conditions Générales du Programme de Stimulation dudit programme.<br>
                                        Ces Points, offerts par l'entreprise organisatrice, vous donnent droit à recevoir des
                                        chèques cadeau Amazon chaque trimestre - au taux de 20 € pour 100 Points.<br>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq201" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Quelle différence entre Points et MultiPoints ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p> Dans certains cas, l'entreprise organisatrice vous permet de gagner des MultiPoints<br>
                                        Les MultiPoints sont en fait une catégorie de Points ayant une propriété étonnante:
                                        ils se transmettent de filleul en parrain, après application d'un facteur 2/3.<br>
                                        Ainsi, lorsqu'un de vos filleuls dans le cadre d'un programme de stimulation reçoit
                                        par exemple 90 MultiPoints de la part de l'entreprise organisatrice, vous recevez
                                        automatiquement 60 MultiPoints de la part de cette même entreprise - et si vous avez
                                        vous-même un parrain, il recevra 40 MultiPoints aussi.<br>
                                        Ce puissant mécanisme de parrainage vous récompense ainsi même lorsque vous ne contribuez
                                        qu'indirectement au développement commercial de l'entreprise organisatrice.
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq202" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Qu'est-ce que le service Coopérons Plus ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Coopérons Plus est le nom du service proposé aux entreprises pour organiser leurs
                                        programmes de parrainage sur <strong><i>Coopérons !</i></strong> - disponible à partir
                                        de 39 € HT / mois.<br>
                                        Vous pouvez parrainer une nouvelle entreprise sur la page d'accueil de votre compte
                                        <strong><i>Coopérons !</i></strong>.<br>
                                        <font color="red"><b>Attention ! La personne que vous aurez parrainée ne pourra pas elle-même envoyer une
                                        invitation au programme Coopérons Plus: vous devrez donc vous assurer que cette
                                        personne est bien la personne qui effectuera l'achat du service Coopérons Plus.</b></font>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq203" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Comment fonctionne le couplage des parrainages avec Coopérons Plus ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Nous sommes convaincus que le bouche-à-oreille est la meilleure des publicités:
                                        <strong><i>Coopérons !</i></strong> n'investit aucun € en publicité.<br>
                                        En revanche, nous proposons 500 <b><u>MultiPoints</u></b> (soit l'équivalent de 100 €)
                                        au parrain de tout nouveau client procédant à l'achat d'un abonnement au service Coopérons Pus.<br>
                                        En plus, à chaque fois que vous parrainez un nouveau membre dans le cadre d'un programme
                                        de parrainage d'une entreprise organisatrice - nous vous attribuons aussi ce nouveau membre, non seulement
                                        dans le cadre de ce programme de parrainage, mais aussi dans le cadre du programme de parrainage
                                        Coopérons Plus.<br>
                                        Ceci signifie que vous gagnerez aussi des MultiPoints si ce nouveau membre parraine un nouveau
                                        client au service Coopérons Plus.
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq204" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Les MultiPoints - n'est-ce pas un système "pyramidal" ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p> Il est vrai que la mécanique multi-niveau des MultiPoints peut faire penser aux
                                        systèmes de vente pyramidale - bien souvent illégaux. Ces systèmes fonctionnent en fait sur
                                        le paiement par les nouveaux membres de primes, frais d'inscription - partagés entre les
                                        différents parrains.<br>
                                        Ces pratiques déloyales ou trompeuses sont sanctionnées par la loi en France.<br>
                                        Le système proposé par <strong><i>Coopérons !</i></strong> en revanche ne repose pas sur
                                        le paiement d'une quelconque somme d'argent par ses membres: <strong><u>tous vos gains de Points
                                        et MultiPoints sont effectivement payés par les entreprises organisatrices</u></strong>.<br>
                                        Le système proposé par <strong><i>Coopérons !</i></strong> est tout à fait similaire
                                        aux programmes de stimulation commerciale organisés par exemple par les marques automobiles
                                        auprès de leur réseau de concessionnaires par exemple - avec une mécanique multi-niveau en plus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if member is defined and member.isAutoEntrepreneur %}
                            <div class="qa-category">
                                <h2 class="faq-catname">Conversion de vos Points en réduction de Frais de Gestion</h2>
                                <div id="qa-faq300" class="qa-faq">
                                    <h3 class="qa-faq-title">
                                        <a class="qa-faq-anchor" href="#">Comment sont convertis mes Points ?</a>
                                    </h3>
                                    <div class="qa-faq-answer">
                                        <p>
                                            Chaque trimestre, lors de l'édition de la facture des Frais de Gestion Coopérons,
                                            tout ou partie de vos Points sont convertis, au taux de 100 Points pour 20 €
                                            en réduction des Frais de Gestion.<br>
                                            <i><u>Exemple:</u><br>
                                            Vous diposez de 550 Points au 1er Janvier 2016 - et le total de vos Frais de Gestion
                                            Coopérons s'élève à 85 € TTC. 425 Points seront utilisés pour réduire à 0 € TTC le
                                            montant de vos Frais de Gestion Coopérons - ce qui augmentera d'autant le montant
                                            du réglement trimestriel que vous recevrez courant Janvier 2016. <br>
                                            A l'issue de cette opération, votre solde de Points s'élèvera alors à 125 Points.</i>
                                        </p>
                                    </div>
                                </div>
                                <div id="qa-faq301" class="qa-faq">
                                    <h3 class="qa-faq-title">
                                        <a class="qa-faq-anchor" href="#">Que deviennent mes points non convertis ? Y a-t-il une date d'expiration ?</a>
                                    </h3>
                                    <div class="qa-faq-answer">
                                        <p>
                                            Tous vos Points gagnés sur Coopérons ! ont une durée de vie illimitée: si vous ne pouvez
                                            convertir tout ou partie de vos Points lors d'une opération trimestrielle, ces Points
                                            restent totalement disponibles pour l'opération de distribution suivante.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        <div class="qa-category">
                            <h2 class="faq-catname">Conversion de vos Points en chèque-cadeau Amazon</h2>
                            <div id="qa-faq400" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Comment convertir mes Points en chèque-cadeau Amazon ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Chaque trimestre, pour fêter l'arrivée de la saison nouvelle, Coopérons convertit
                                        un certain montant de Points en chèques cadeau Amazon,qui vous sont envoyés à votre adresse email.<br>
                                        Cette opération de conversion est effectuée au taux de 20 € pour 100 Points.<br>
                                        Le montant de Points convertibles dépend de votre Plafond Coopérons.<br>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq401" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Qu'est-ce que mon Plafond Coopérons ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Votre Plafond Coopérons détermine le montant maximum de chèques cadeau que vous pouvez
                                        recevoir lors de chaque distribution trimestrielle - et dépend de votre statut de
                                        salarié.<br>
                                        Par défaut, vous ne pouvez recevoir qu'un maximum de 140 € de chèques cadeau 
                                        <b><u>par an</u></b> (soit l'équivalent de 700 points).<br>
                                        Si vous êtes salarié d'un employeur en France, et sous réserve de l'accord de votre employeur,
                                        vous pouvez recevoir <b><u>à chaque opération trimestrielle</u></b> jusqu'à:</p>
                                    <p>
                                        <ul>
                                        <li> 1000 € (soit l'équivalent de 5'000 points) - si vous disposez de plus de 2'500 Points sur votre compte;</li>
                                        <li> 140 € (soit l'équivalent de 700 points) - si vous disposez de moins de 2'500 Points sur votre compte;</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq402" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Comment débloquer mon Plafond Coopérons ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Pour débloquer votre Plafond Coopérons, il suffit de vous rendre dans "Mon Compte" 
                                        - et d'y renseigner les coordonnées de votre employeur - notamment le contact du ou de la 
                                        responsable administratif(ve).<br>
                                        Nous adresserons par email, au responsable administratif, un email présentant le
                                        fonctionnement de <b><i>Coopérons !</i></b> - ainsi qu'un lien de téléchargement de notre contrat
                                        employeur pré-rempli.<br> 
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq403" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Comment convaincre mon employeur de participer à Coopérons ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        En participant à <b><i>Coopérons !</i></b> votre employeur permet à ses salariés de bénéficier d'un
                                        complément de rémunération <b><u>sans aucun coût pour lui</u></b>: dans un contexte
                                        où chaque € compte, ça n'est pas négligeable !<br>
                                        De plus, le régime de la rémunération versée par des tiers
                                        (<a href="http://www.paris.urssaf.fr/images/ref_LCIRC-2012-0000042.pdf" target="blank">circulaire URSAFF téléchargeable ici</a>)
                                        n'impose aucune obligation à l'employeur: le réglement des cotisations sociales ainsi que toutes les
                                        formalités sont assurées par <b><i>Coopérons !</i></b> - en toute transparence pour votre employeur.<br>
                                        Ainsi, au début de chaque année, nous faisons parvenir à votre employeur un récapitulatif
                                        des sommes versées à l'ensemble de son effectif salarié l'année précédente, ainsi qu'une
                                        attestation de réglement des cotisations sociales y afférentes.<br>
                                        En fait, les grands réseaux bancaires utilisent depuis longtemps la rémunération versée
                                        par les gestionnaires de produits d'épargne pour rémunérer leurs responsables de clientèle
                                        lorsqu'un de leurs clients placent leur épargne dans un de leurs produits: c'est un moyen
                                        efficace et totalement gratuite de motiver leurs équipes, totalement financé par
                                        leurs partenaires.<br>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq404" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Quelle démarche dois-je effectuer une fois que mon employeur participe à Coopérons ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Une fois que votre employeur nous a retourné signé son accord de participation, nous créons
                                        le Collège Coopérons de votre entreprise - qui regroupe tous les salariés de votre entreprise
                                        participant à <b><i>Coopérons !</i></b>.<br>
                                        Puis, une fois que vous êtes membres du Collège Coopérons de votre entreprise,
                                        vous devez confirmer (toujours sur l'espace "Mon Compte" de <b><i>Coopérons !</i></b>)
                                        durant le dernier mois de chaque trimestre que vous êtes toujours bien
                                        salariés de l'entreprise concernée.<br>
                                        A noter que le membre le plus ancien du Collège Coopérons assure le rôle de <i>Délégué</i> - en
                                        controlant ces déclarations.<br>
                                        Vous pouvez (et devez - en cas de changement de statut) à tout momement quitter le
                                        Collège Coopérons de votre employeur en vous rendant sur l'espace "Mon Compte".
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq405" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Que deviennent mes points non convertis ? Y a-t-il une date d'expiration ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Tous vos Points gagnés sur <b><i>Coopérons !</i></b> ont une durée de vie illimitée: si vous ne pouvez
                                        convertir tout ou partie de vos Points lors d'une opération trimestrielle, ces Points
                                        restent totalement disponibles pour l'opération de distribution suivante.
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq406" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Existe-t-il un autre moyen de convertir mes Points ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Effectivement, lorsque vous vous inscrivez en tant qu'Auto-Entrepreneur Coopérons, vos
                                        Points sont automatiquement convertis en € chaque trimestre (dans la limite du montant de vos frais de
                                        gestion). Pour en savoir plus, contactez-nous.
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </article>
            </section>
        </div>
    </main>
{% endblock %}