/* line 17, ../../../scss/components/cards/cards.scss */
md-card {
  margin: 8px 2px;
}

/* line 20, ../../../scss/components/cards/cards.scss */
md-card md-card-title md-card-title-media {
  margin-top: 0;
  display: block;
  text-align: center;
  background-color: #eee;
  padding: 20px;
}

/* line 27, ../../../scss/components/cards/cards.scss */
md-card md-card-title {
  padding: 0;
}

/* line 31, ../../../scss/components/cards/cards.scss */
md-card md-card-title md-card-title-text.md-card-left {
  margin-left: 0;
  border-left: 1px solid #d9d9d9;
  padding: 24px 16px 16px;
}

/* line 36, ../../../scss/components/cards/cards.scss */
md-card.md-default-theme .md-card-image, md-card .md-card-image {
  position: relative;
  vertical-align: middle;
}

/* line 40, ../../../scss/components/cards/cards.scss */
md-card-title md-card-title-media {
  padding: 20px;
  min-width: 88px;
  position: relative;
  min-height: 88px;
}

/* line 41, ../../../scss/components/cards/cards.scss */
md-card .md-card-image {
  margin-top: -24px;
  position: absolute;
  top: 50%;
}

/* line 46, ../../../scss/components/cards/cards.scss */
md-card.md-default-theme md-card-title md-card-title-text:not(:only-child) .md-subhead, md-card md-card-title md-card-title-text:not(:only-child) .md-subhead {
  color: rgba(0, 0, 0, 0.87);
}

/* line 50, ../../../scss/components/cards/cards.scss */
.info-vert, .information {
  background: url(images/info_vert.png) no-repeat center center;
}

/* line 53, ../../../scss/components/cards/cards.scss */
.notification {
  background: url(images/notification.png) no-repeat center center;
}

/* line 56, ../../../scss/components/cards/cards.scss */
.rappel {
  background: url(images/rappel.png) no-repeat center center;
}

/* line 60, ../../../scss/components/cards/cards.scss */
.avantage {
  background: url(images/avantage.png) no-repeat center center;
}

/* line 64, ../../../scss/components/cards/cards.scss */
.cheque {
  background: url(images/cheques.png) no-repeat center center;
}

/* line 67, ../../../scss/components/cards/cards.scss */
.loyalty {
  background: url(images/loyalty.png) no-repeat center center;
}

/* line 70, ../../../scss/components/cards/cards.scss */
.doc_pres {
  background: url(images/bg_doc_pres.png) repeat-x;
  padding: 10px;
}

/* line 75, ../../../scss/components/cards/cards.scss */
.creat_mail {
  padding: 0 20px;
  background: url(images/bg_email.png) repeat-x, url(images/bg_mail_editor.png) no-repeat left bottom;
}

/* line 79, ../../../scss/components/cards/cards.scss */
md-card.creat_mail md-card-title md-card-title-text {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding-top: 10px;
  text-transform: uppercase;
}

/* line 87, ../../../scss/components/cards/cards.scss */
.new-program {
  background: url(images/bg_new_program.png) repeat-x;
  padding: 10px;
}

/* line 91, ../../../scss/components/cards/cards.scss */
.program-api {
  background: url(images/bg_new_program.png) repeat-x, url(images/bg_new_program_api.png) no-repeat left bottom;
}

/* line 94, ../../../scss/components/cards/cards.scss */
.new-program md-card-title-text {
  border-left: none;
}

/* line 97, ../../../scss/components/cards/cards.scss */
md-card md-card-content p {
  font-size: 16px;
  line-height: 22px;
}

/* line 101, ../../../scss/components/cards/cards.scss */
md-card md-card-title + md-card-content {
  padding-top: 20px;
}

/* line 105, ../../../scss/components/cards/cards.scss */
md-card > img.program_image, md-card > :not(md-card-content) img.program_image {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}

/* line 113, ../../../scss/components/cards/cards.scss */
img.step_image {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 400px;
}

@media only screen and (max-width: 767px) {
  /* line 122, ../../../scss/components/cards/cards.scss */
  md-card .md-card-image ng-md-icon {
    width: 48px;
    height: 48px;
  }

  /* line 126, ../../../scss/components/cards/cards.scss */
  md-card .md-card-image ng-md-icon svg {
    width: 48px;
    height: 48px;
  }
}
