/*** Tables ***/
/* line 21, ../../../scss/components/tables/tables.scss */
table, th, td {
  border: none;
}

/* line 25, ../../../scss/components/tables/tables.scss */
table {
  width: 100%;
  display: table;
}
/* line 29, ../../../scss/components/tables/tables.scss */
table.bordered > thead > tr, table.bordered > tbody > tr {
  border-bottom: 1px solid #d0d0d0;
}
/* line 35, ../../../scss/components/tables/tables.scss */
table.striped > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}
/* line 39, ../../../scss/components/tables/tables.scss */
table.striped > tbody > tr > td {
  border-radius: 0px;
}
/* line 44, ../../../scss/components/tables/tables.scss */
table.highlight > tbody > tr {
  transition: background-color .25s ease;
}
/* line 46, ../../../scss/components/tables/tables.scss */
table.highlight > tbody > tr:hover {
  background-color: #f2f2f2;
}
/* line 52, ../../../scss/components/tables/tables.scss */
table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

/* line 60, ../../../scss/components/tables/tables.scss */
thead {
  border-bottom: 1px solid #d0d0d0;
}

/* line 64, ../../../scss/components/tables/tables.scss */
td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  /* line 75, ../../../scss/components/tables/tables.scss */
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  /* line 82, ../../../scss/components/tables/tables.scss */
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  /* line 88, ../../../scss/components/tables/tables.scss */
  table.responsive-table th {
    text-align: left;
  }
  /* line 89, ../../../scss/components/tables/tables.scss */
  table.responsive-table thead {
    display: block;
    float: left;
  }
  /* line 93, ../../../scss/components/tables/tables.scss */
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  /* line 97, ../../../scss/components/tables/tables.scss */
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  /* line 102, ../../../scss/components/tables/tables.scss */
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* line 109, ../../../scss/components/tables/tables.scss */
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  /* line 114, ../../../scss/components/tables/tables.scss */
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  /* line 118, ../../../scss/components/tables/tables.scss */
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  /* line 123, ../../../scss/components/tables/tables.scss */
  table.responsive-table tr {
    padding: 0 10px;
  }
  /* line 126, ../../../scss/components/tables/tables.scss */
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid #d0d0d0;
  }
  /* line 132, ../../../scss/components/tables/tables.scss */
  table.responsive-table.bordered th {
    border-bottom: 0;
    border-left: 0;
  }
  /* line 133, ../../../scss/components/tables/tables.scss */
  table.responsive-table.bordered td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  /* line 134, ../../../scss/components/tables/tables.scss */
  table.responsive-table.bordered tr {
    border: 0;
  }
  /* line 135, ../../../scss/components/tables/tables.scss */
  table.responsive-table.bordered tbody tr {
    border-right: 1px solid #d0d0d0;
  }
}
/* matrial table */
/* line 143, ../../../scss/components/tables/tables.scss */
.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

/* line 148, ../../../scss/components/tables/tables.scss */
.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor: pointer;
  background-color: rgba(63, 81, 181, 0.2);
}

/* line 153, ../../../scss/components/tables/tables.scss */
table.md-table th.md-column {
  background-color: #2f225f;
  color: #ffffff;
  font-size: 15px;
  font-family: 'roboto',sans-serif;
  font-weight: normal;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #2f225f;
  padding: 10px;
}

/* line 163, ../../../scss/components/tables/tables.scss */
table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
  text-align: center;
}

/* line 166, ../../../scss/components/tables/tables.scss */
.md-head a {
  text-decoration: none;
  color: inherit;
}

/* line 171, ../../../scss/components/tables/tables.scss */
.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

/* line 178, ../../../scss/components/tables/tables.scss */
.md-table-td-more {
  max-width: 72px;
  width: 72px;
  padding: 16px;
}

/* line 184, ../../../scss/components/tables/tables.scss */
.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

/* line 190, ../../../scss/components/tables/tables.scss */
.md-table-thumbs div {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

/* line 201, ../../../scss/components/tables/tables.scss */
.md-table-footer {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

/* line 207, ../../../scss/components/tables/tables.scss */
.md-table-count-info {
  line-height: 40px;
  font-size: .75em;
}

/* line 212, ../../../scss/components/tables/tables.scss */
.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

/* line 218, ../../../scss/components/tables/tables.scss */
.md-table-active-page {
  font-weight: 700;
}

/* line 221, ../../../scss/components/tables/tables.scss */
table.md-table,
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 10px;
}

/* line 226, ../../../scss/components/tables/tables.scss */
table.md-table td.md-cell {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  line-height: 32px;
}

/* line 232, ../../../scss/components/tables/tables.scss */
.md-foot td.md-cell {
  background-color: rgba(63, 81, 181, 0.2);
}

/* line 235, ../../../scss/components/tables/tables.scss */
md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default .md-button,
md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button {
  color: #ffffff;
}

/* line 239, ../../../scss/components/tables/tables.scss */
table.md-table thead.md-head > tr.md-row {
  height: 45px;
}

/* line 242, ../../../scss/components/tables/tables.scss */
table.md-table th.md-column md-icon.md-sort-icon {
  color: #fff;
}

/* line 245, ../../../scss/components/tables/tables.scss */
table.md-table th.md-column.md-active,
table.md-table th.md-column.md-active md-icon {
  color: #fff;
}

/* line 250, ../../../scss/components/tables/tables.scss */
table.md-table th.md-column md-checkbox.md-default-theme .md-icon,
table.md-table th.md-column md-checkbox .md-icon {
  border-color: #fff;
}

/* line 254, ../../../scss/components/tables/tables.scss */
table.md-table td.md-cell:last-child,
table.md-table th.md-column:last-child {
  padding: 10px;
}

/* line 258, ../../../scss/components/tables/tables.scss */
table.md-table tr:last-child td.md-cell {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

/* line 261, ../../../scss/components/tables/tables.scss */
table.md-table:not(.md-row-select) td.md-cell:first-child,
table.md-table:not(.md-row-select) th.md-column:first-child {
  padding: 0 24px;
  border-left: 0;
}

/* line 266, ../../../scss/components/tables/tables.scss */
table.md-table td.md-cell {
  line-height: normal;
}

/* line 267, ../../../scss/components/tables/tables.scss */
table.md-table td.md-cell > *, table.md-table th.md-column > * {
  vertical-align: inherit;
}

/* line 268, ../../../scss/components/tables/tables.scss */
td, th {
  border-radius: 0px;
}

/* line 269, ../../../scss/components/tables/tables.scss */
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: #e40a20;
}

@media only screen and (max-width: 992px) {
  /* line 272, ../../../scss/components/tables/tables.scss */
  md-toolbar.md-table-toolbar md-input-container.md-block {
    display: inline-block;
  }
}
@media only screen and (max-width: 600px) {
  /* line 279, ../../../scss/components/tables/tables.scss */
  table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0 15px;
  }

  /* line 282, ../../../scss/components/tables/tables.scss */
  table.md-table td.md-cell .md-button.md-icon-button {
    margin: 0;
    height: auto;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: auto;
  }
}
