{% block content %}
    <h4 class="legal-title"><a>2. Description du Programme<i class="fa fa-minus-square-o"></i></a></h4>
    <div class="legal-block" style="display:block;">
        {% include "AprProgramBundle:Legal:clause2.html.twig" %}
    </div>
    <h4 class="legal-title"><a>3. Fonctionnement du Programme<i class="fa fa-minus-square-o"></i></a></h4>
    <div class="legal-block" style="display:block;">
        {% include "AprProgramBundle:Legal:clause3.html.twig" %}
    </div>
{% endblock %}