{% block content %}
    <h4 class="legal-title"><a>1. Définitions<i class="fa fa-plus-square-o"></i></a></h4>
    <div class="legal-block" style="display:none;">
        {% include "AprProgramBundle:Legal:clause1.html.twig" %}
    </div>
{% endblock %}