{% extends "AprProgramBundle:Default:baseWithoutMenu.html.twig"  %}
{% block content %}
    <link  href={{ asset('bundles/Edtapp/css/program.css')}} rel='stylesheet' type='text/css' />

    <h1>Conditions Générales d’Utilisation</h1>
    <div class="separateur_haut"></div>
    <div class="span12">

        <p>Le site Internet <a href="http://www.cooperons.com/" target="_blank">www.cooperons.com</a> , ci-après
            dénommé <strong>« Coopérons ! »</strong> propose un service de mise en relation entre des particuliers, salariés,
            auto-entrepreneurs, et entreprises - à des fins de développement commercial.</p>

        <p>Ce service est fourni par la SARL COOPERONS !, société à responsabilité limitée au capital de 50’000 €
            immatriculée au Registre du Commerce et des Sociétés sous le numéro RCS 792 896 359 dont le siège social est
            situé 34, rue de la Tombe Issoire 75014 Paris (<strong>« L’Opérateur »</strong>).</p>

        <p>L'accès au site, sa consultation et son utilisation sont subordonnés à l'acceptation sans réserve des
            présentes conditions générales d'utilisation.</p>

        <p>Les présentes conditions générales d'utilisation (ci-après dénommées le <strong>« Contrat »</strong>) ont pour objet de
            déterminer les conditions d’utilisation du service, ainsi que vos droits et obligations en tant que Membre !
            (<strong>« Vous »</strong>).</p>

        <p>Vous déclarez en accédant et utilisant le Service Coopérons avoir pris connaissance des présentes conditions
            générales d’utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que
            ce soit.</p>

        <h3>1. Définitions</h3>

        <p><strong>Auto-Entrepreneur Membre</strong>: Membre au statut auto-entrepreneur bénéficiant du service de gestion et
            développement de son activité indépendante dans le cadre d’un Contrat Auto-Entrepreneur.</p>

        <p><strong>Collège Coopérons d’une entreprise</strong>: Ensemble des Membres ayant le statut de salariés de ladite entreprise.
            La création et la gestion des Collèges Coopérons est effectuée au moyen du menu Mon Compte de l’Espace
            Membre.</p>

        <p><strong>Compte de Points</strong>: Compte d’un Membre tenu par l’Opérateur historisant l’ensemble des Points crédités par
            tout Promoteur dans le cadre de la participation dudit Membre à un Programme dudit Promoteur, ainsi que les
            Points débités par l’Opérateur conformément aux stipulations des articles 4.2 et 4.3 .</p>

        <p><strong>Commande de Points</strong>: Commande effectuée par un Promoteur à l’Opérateur, dans le cadre d’un Programme, d’un
            certain montant de Points (incluant éventuellement des MultiPoints) à créditer, lors du règlement de ladite
            commande, sur Votre Compte de Points.</p>

        <p><strong>Conditions Générales de Ventes Coopérons Plus</strong>: Conditions générales de vente régissant le Service Coopérons
            Plus.</p>

        <p><strong>Conditions Générales d’un Programme</strong>: Contrat conclu entre Vous et un Promoteur dans le cadre d’un Programme
            dudit Promoteur, définissant les modalités de participation audit Programme.</p>

        <p><strong>Contrat Auto-Entrepreneur</strong>: Contrat conclu entre Vous en tant qu’Auto-Entrepreneur Membre et l’Opérateur
            ayant pour objet le développement de votre activité d’auto-entrepreneur.</p>

        <p><strong>Coopérons Plus</strong>: Service proposé par l’Opérateur permettant à des professionnels de proposer un ou plusieurs
            programmes de stimulation et promotion des ventes aux Membres.</p>

        <p><strong>Espace Membre</strong>: Application Web privée, nécessitant la saisie d’identifiants (adresse email et mot de passe)
            accessible sur www.cooperons.com permettant à chaque Membre notamment de (i) suivre les parrainages
            effectués dans le cadre de chaque Programme auquel le Membre participe, (iii) consulter les Points et
            MultiPoints offerts par les Promoteurs dans le cadre desdits Programmes, (iv) devenir membre du Collège
            Coopérons d’un Employeur afin d’augmenter le Plafond Coopérons et (v) convertir ses Points en avantages.</p>

        <p><strong>Filleul dans le cadre d’un Programme</strong>: tout Membre parrainé par un autre Membre dans le cadre du Programme
            d’un Promoteur conformément aux stipulations de l’article 3.3 du présent Contrat.</p>

        <p><strong>Membre</strong> : tout utilisateur personne physique inscrite au Service Coopérons conformément aux stipulations de
            l’article 2 du présent Contrat.</p>

        <p><strong>Module d’Invitation d’un Programme</strong> : page Web accessible à partir d’un lien URL qui est communiqué par le
            Promoteur dans le cadre de chaque Programme, permettant aux Membres (i) d’adhérer audit Programme, (ii)
            parrainer des Filleuls dans le cadre dudit Programme, (iii) et accéder aux Conditions Générales dudit
            Programme.</p>

        <p><strong>MultiPoints</strong>: catégorie particulière de Points qui, lorsqu’ils sont offerts à l’un de Vos Filleuls dans le
            cadre du Programme d’un Promoteur, engage ledit Promoteur à Vous offrir des MultiPoints, pour un montant
            égal aux deux tiers (2/3) arrondi à l’entier inférieur des MultiPoints gagnés par ledit Filleul.</p>

        <p><strong>Plafond Coopérons</strong>: montant maximum de chèques cadeau pouvant Vous être offerts par l’Opérateur sur une
            période donnée conformément aux stipulations de l’article 4 du présent Contrat. Par défaut, le Plafond
            Coopérons est de 140 € par année civile.</p>

        <p><strong>Points</strong> : l'unité de compte vendue par l’Opérateur aux Promoteurs dans le cadre d’une Commande de Points,
            pouvant être convertie par l’Opérateur en avantage pour Vous, au taux de 20 € pour 100 Points, dans le cadre
            des stipulations de l’article 4.</p>

        <p><strong>Programme</strong> : tout programme de stimulation et promotion des ventes proposés par un Promoteur, définissant des
            opportunités de gain de Points et de MultiPoints, objet du Service Coopérons Plus.</p>

        <p><strong>Promoteur</strong> : (i) l’Opérateur, en tant que promoteur du Programme Coopérons Plus conformément aux stipulations
            de l’article 3.4 et (ii) tout professionnel ayant contracté un abonnement au Service Coopérons Plus.</p>

        <p><strong>Service Coopérons</strong> : désigne les services mis à la disposition des Membres sur leur Espace Membre par
            l’Opérateur dans le cadre des présentes conditions générales d’utilisation.</p>

        <p><strong>Service Coopérons Plus</strong>: désigne les services mis à la disposition de professionnels par l’Opérateur dans le
            cadre des Conditions Générales de Ventes Coopérons Plus, permettant notamment (i) de créer et animer des
            Programmes, (ii) effectuer une Commande de Points.</p>

        <h3>2. Inscription au Service Coopérons</h3>

        <p>L’ensemble du service Coopérons n’est accessible qu’à des utilisateurs ayant préalablement effectué une
            inscription au service Coopérons, afin de devenir Membres.</p>

        <p>La création par l’Opérateur de l’Espace Membre nécessite la communication par l’utilisateur de ses
            informations de contact habituelles (adresse, téléphone portable).</p>

        <p>L’inscription au Service Coopérons est strictement nominative et individuelle : tout utilisateur ne peut
            disposer que d’un unique compte Membre sous peine d’exclusion automatique.</p>

        <h3>3. Utilisation du Service Coopérons</h3>

        <h4>3.1. Adhésion aux Programmes d’un Promoteur</h4>

        <p>Vous adhérez au Programme d’un Promoteur dans le cadre de votre première connexion à votre Espace Membre
            effectuée à partir du Module d’Invitation dudit Programme.</p>

        <p>De plus Vous adhérez au Programme CoopéronsPlus de l’Opérateur suite à votre inscription au service
            Coopérons.</p>

        <h4>3.2. Crédit de vos Points par un Promoteur</h4>

        <p>Les Points et MultiPoints sont vendus par l’Opérateur aux Promoteurs dans le cadre du Service Coopérons
            Plus.</p>

        <p>Les Points et MultiPoints offerts par un Promoteur dans le cadre d’un Programme sont crédités sur votre
            Compte de Points dès le réglement par le Promoteur de la Commande de Points correspondante.</p>

        <p>Une fois crédités par l’Opérateur, tous vos Points restent valables tant que vous êtes Membre, sans aucune
            limite de durée.</p>

        <h4>3.3. Parrainage d’un Filleul dans le cadre du Programme d’un Promoteur – Transmission des MultiPoints</h4>

        <p>Tous les Promoteurs partenaires s’engagent, dans le cadre de chaque Programme, à Vous créditer un montant de
            MultiPoints égal aux deux tiers (2/3) des MultiPoints gagnés par vos Filleuls dans le cadre dudit
            Programme.</p>

        <p>Si le Promoteur l’autorise, Vous pouvez inviter d’autres utilisateurs à devenir vos Filleuls dans le cadre du
            Programme d’un Promoteur à partir du Module d’Invitation dudit Programme. L’Opérateur enverra alors, au nom
            et pour le compte du Promoteur, un email de présentation du service incluant un lien URL de redirection
            comportant un code d’invitation qui Vous sera attribué.</p>

        <p>Lorsque ce Promoteur confirme l’inscription de ces utilisateurs, ils deviennent vos Filleuls dans le cadre
            dudit Programme, sous réserve de n’être pas déjà Filleul d’un autre Membre dans le cadre dudit Programme.
            Notamment, en cas d’invitations multiples d’un même utilisateur, l’attribution de la relation de Filleul par
            l’Opérateur est effectuée à partir du code d’invitation transmis dans l’email d’invitation.</p>

        <p>Cette confirmation par le Promoteur peut être effectuée soit en se connectant sur son Espace Membre (Formule
            Classique), soit automatiquement (Formule API).</p>

        <p>Vous pouvez à tout moment contacter chaque Promoteur lorsque vous estimez qu’une invitation n’a pas été
            correctement validée.</p>

        <h4>3.4. Programme Coopérons Plus – Double opportunité de gain de MultiPoints Coopérons Plus</h4>

        <p>Vous pouvez inviter d’autres utilisateurs à découvrir le Service Coopérons Plus en saisissant leurs
            informations de contact sur votre Espace Membre.</p>

        <p>La confirmation du parrainage d’un Filleul dans le cadre du Programme Coopérons Plus est effectuée dans les
            mêmes conditions que celles stipulées à l’article 3.3 – l’Opérateur agissant en tant que Promoteur du
            Programme Coopérons Plus.</p>

        <p>De plus, lorsqu’un Membre devient un de vos Filleuls dans le cadre du Programme d’un Promoteur, il devient
            aussi automatiquement votre Filleul dans le cadre du Programme Coopérons Plus, sous réserve de n’être pas
            déjà Filleul d’un autre Membre dans le cadre du Programme Coopérons Plus.</p>

       <p>Outre les Points et MultiPoints qui vous sont offerts par les Promoteurs partenaires, Vous gagnez 500
            MultiPoints, offerts par l’Opérateur, lorsqu’un de Vos Filleuls s’inscrit au Service Coopérons Plus et crée
            un premier Programme.</p>

        <p>Comme tous les Promoteurs partenaires, L’Opérateur s’engage à Vous attribuer un montant de MultiPoints égal
            aux deux tiers (2/3) des MultiPoints gagnés par vos Filleuls dans le cadre du Programme Coopérons Plus.</p>

        <h3>4. Conversion de vos Points en avantages par l’Opérateur</h3>

        <h4>4.1. Votre Plafond Coopérons – Cas des Collèges Coopérons</h4>

        <p>Par défaut Votre Plafond Coopérons est de 140 € par année civile.</p>

        <p>Si Vous êtes salarié, et sous réserve de l’accord écrit de votre employeur, Vous pouvez créer le Collège
            Coopérons de Votre entreprise.</p>

        <p>Si l’entreprise dont Vous êtes salarié dispose déjà d’un Collège Coopérons, Votre rattachement au Collège
            Coopérons sera effectué après accord d’au moins un Membre dudit Collège Coopérons.</p>

        <p>Si Vous êtes rattaché au Collège Coopérons de Votre employeur, Vous devrez soit, (i) attester sur l’honneur,
            sur votre Espace Membre, durant le dernier mois de chaque trimestre civil que Vous êtes toujours salarié
            dudit employeur, (ii) soit confirmer Votre sortie dudit Collège Coopérons.</p>

        <p>Suite à votre attestation sur l’honneur que Vous êtes toujours salarié, Votre Plafond Coopérons sera
            augmenté, lors de la distribution devant intervenir le mois suivant, à :</p>

        <ul>
            <li>140 € par trimestre civil si le solde de votre Compte de Points est alors inférieur à 2’500 Points;</li>
            <li>1'000 € par trimestre civil si le solde de votre Compte de Points est alors supérieur à 2’500 Points.</li>
        </ul>

        <p>Votre employeur sera notifié chaque trimestre par email adressé au service administratif:</p>

        <ul>
            <li>du montant des chèques cadeau qui Vous auront été versés par l’Opérateur;</li>
            <li>de votre attestation sur l’honneur relative à votre statut de salarié.</li>
        </ul>

        <p>Si Vous êtes rattaché à un Collège Coopérons, conformément aux dispositions de l’article L. 242-1-4 du code
            de la sécurité sociale, l’Opérateur réglera les cotisations de sécurité sociale et contributions relatives
            aux chèques cadeau qui vous auront été versés par l’Opérateur. De plus, au plus tard le 31 janvier de chaque
            année, l’Opérateur Vous communiquera un décompte annuel des chèques cadeau versés et des cotisations
            sociales réglées par l’Opérateur. Conformément à l’article D. 242-2-2 du code de la sécurité́ sociale,
            l’Opérateur adressera par email au service administratif de Votre employeur une copie de ces Décomptes
            Annuels.</p>

        <h4>4.2. Vous n’êtes pas un Auto-Entrepreneur Membre : Conversion de vos Points en chèques cadeau</h4>

        <p>Si Vous n’êtes pas un Auto-Entrepreneur Membre, Le Promoteur convertira, par débit de votre Compte de Points,
            chaque trimestre tout ou partie de vos Points en chèque cadeau électronique valable sur le site
            www.amazon.fr d’un montant calculé sur la base de 20 € pour 100 Points – dans la limite du Plafond Coopérons.</p>

        <p>Vos chèques cadeau électronique vous sont envoyés à l’adresse email indiquée lors de votre Adhésion, dans le
            cadre d’opérations saisonnières :</p>

        <ul>
            <li><strong>Opération Printemps</strong> : envoi au plus tard le 30 avril de chaque année civile ;</li>
            <li><strong>Opération Eté</strong>: envoi au plus tard le 31 juillet de chaque année civile ;</li>
            <li><strong>Opération Automne</strong>: envoi au plus tard le 31 octobre de chaque année civile ;</li>
            <li><strong>Opération Hiver</strong>: envoi au plus tard le 31 janvier de chaque année civile.</li>
        </ul>

        <p>Pour soumettre une réclamation concernant un chèque cadeau électronique non livré, vous disposez d'un délai
            maximum de un mois à compter de la date limite de chaque Opération.</p>

        <p>Passé ce délai, l’Opérateur ne pourra porter votre réclamation à ses fournisseurs et vous ne serez plus en
            droit de réclamer votre chèque cadeau électronique.</p>

        <h4>4.3. Vous êtes un Auto-Entrepreneur Membre - Conversion de vos Points en suppression de Frais de Gestion</h4>

        <p>Si Vous êtes un Auto-Entrepreneur Membre, l’Opérateur convertira vos Points dans les conditions prévues à
            votre Contrat Auto-Entrepreneur</p>

        <h3>5. Clause limitative de responsabilité</h3>

        <p>L’Opérateur s'engage à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture du
            Service Coopérons aux Membres.</p>

        <p>Toutefois, l’Opérateur décline toute responsabilité́ en cas de :</p>

        <ul>
            <li>interruptions, pannes, modifications et dysfonctionnement du Service Coopérons quelles qu'en soient
                l'origine et la provenance,</li>
            <li>retard, perte ou mauvaise distribution d'un courrier, ni de son envoi à une adresse électronique,
                    erronée ou non,</li>
            <li>la perte de données ou d'informations stockées par l’Opérateur,</li>
            <li>impossibilité momentanée d'accès au Service Coopérons en raison de problèmes techniques et ce
                quelles qu'en soient l'origine et la provenance,</li>
            <li>dommages directs ou indirects causés au Membre, quelle qu'en soit la nature, résultant des
                Programmes et/ou de l'accès, de la gestion, de l'utilisation, de l'exploitation, du dysfonctionnement
                et/ou de l'interruption du Service Coopérons,</li>
            <li>utilisation anormale ou d'une exploitation illicite du Service Coopérons par tout Membre ou
                    Promoteur,</li>
            <li>attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou
                    définitive, et pour quelque cause que ce soit, de l’accès au réseau internet.</li>
        </ul>

        <p>Vous vous engagez, le cas échéant, à respecter et à maintenir la confidentialité des identifiants de
            connexion à votre Espace Membre et reconnaissez expressément que toute connexion à votre Espace Membre,
            ainsi que toute transmission de données depuis votre Espace Membre sera réputée avoir été effectuée par
            Vous. Toute perte, détournement ou utilisation des identifiants de connexion et leurs éventuelles
            conséquences relèvent de Votre seule et entière responsabilité.</p>

        <p>En outre l’Opérateur s’engage et Vous vous engagez à ce qu’aucune des parties ne soit jamais tenue pour
            responsable de tout dommage indirect tel que, sans que cette liste ne soit limitative : manque à gagner,
            perte de chance, etc...</p>

        <h3>6. Durée du contrat - Résiliation</h3>

        <p>Le présent Contrat entre en vigueur à compter de Votre inscription au Service Coopérons et il se poursuivra
            pour une durée indéterminée sauf en cas de résiliation comme stipulé ci-dessous.</p>

        <p>Le Contrat pourra être résilié par Vous par courrier électronique ou par simple courrier postal adressé au
            siège social de l’Opérateur. Pour des raisons de traitement, votre résiliation sera prise en compte dans un
            délai maximum de 7 jours.</p>

        <p>En cas d'application d'un ou plusieurs cas énoncés ci-dessous, le Promoteur se réserve le droit de résilier
            de plein droit, sans préavis et sans formalité judiciaire, le Contrat par courrier électronique ou par
            simple courrier postal en cas de :</p>

        <ul>
            <li>manquement substantiel de Votre part à vos obligations au titre du Contrat – notamment en cas de
                    double inscription au Service Coopérons et de fausse déclaration relative à votre statut salarié;</li>
            <li>changement législatif ou réglementaire ou toute décision d'une autorité administrative affectant
                    de manière substantielle la fourniture d’un Programme ;</li>
        </ul>

        <p>En conséquence, le Promoteur annulera sans autre notification ni aucune indemnité d’aucune sorte, vos Points
            et MultiPoints, et procédera à votre désinscription du Service Coopérons, et Vous devrez, le cas échéant,
            prendre en charge tous les frais afférents aux dommages ou préjudices, poursuites judiciaires ou autres
            frais dus.</p>

        <h3>7. Modifications</h3>

        <p>L’Opérateur se réserve le droit, à tout moment, de modifier temporairement ou définitivement tout ou partie
            du Contrat.</p>

        <p>L’Opérateur Vous en informera préalablement dans la mesure du possible.</p>

        <p>Les Membres sont invités à consulter régulièrement les présentes conditions générales d’utilisation afin de
            prendre connaissance de changements éventuels effectués. L'utilisation du Service Coopérons par les Membres
            constitue l'acceptation par ces derniers des modifications apportées aux présentes conditions générales
            d’utilisation.</p>

        <h3>8. Divers</h3>

        <p>Le Contrat exprime l'intégralité de l'accord passé entre l’Opérateur et Vous et se substitue à tout accord
            éventuellement intervenu antérieurement entre Le Promoteur et Vous pour ce qui concerne l’utilisation du
            Service Coopérons.</p>

        <p>Si une ou plusieurs dispositions du Contrat étaient tenues pour nulles ou non valides ou déclarées telles en
            application d'une loi, d'un règlement ou à la suite d'une décision d'une juridiction compétente, les autres
            clauses garderont leur force et leur portée.</p>

        <p>Le fait par l'une des parties de ne pas se prévaloir d'un manquement par l'autre partie à l'une quelconque de
            ses obligations visée dans le Contrat, ou de tarder à exercer l'un quelconque des droits qu'elle tient du
            Contrat, ne saurait valoir renonciation définitive à l'exécution de cette disposition ou de toute autre
            disposition, ou à l'exercice de ce droit ou de tout autre droit.</p>

        <p>Le Contrat est soumis au droit français. Tous litiges nés de l’interprétation, l’exécution ou la résiliation
            du Contrat seront soumis aux tribunaux compétents.</p>
    </div>
{% endblock %}