{#<h4 class="legal-title"><a>1. Définitions<i class="fa fa-plus-square-o"></i></a></h4>#}
{#<div class="legal-block" style="display:none;">#}
<p><strong>Adhésion :</strong> le fait pour un Membre de confirmer son adhésion au Programme dans le cadre de votre première connexion à votre Espace Membre effectuée à partir du Module d'Invitation.</p>
<p><strong>Conditions Générales Réseau :</strong> les conditions générales d'utilisation du service Coopérons !, accessibles sur <a target="_blank" href="http://www.cooperons.com/">www.cooperons.com</a> régissant les droits et obligations des Membres dans le cadre de leur utilisation du service Coopérons !.</p>
<p><strong>Espace Membre :</strong> l'Espace Membre tel que défini à l'article 1 des Conditions Générales Réseau.</p>
<p><strong>Filleul :</strong> tout Participant au Programme, inviter à participer au Programme par un autre Participant au Programme, et dont l'invitation a été confirmée par le Promoteur, conformément aux stipulations de l'article 3.3 des Conditions Générales Réseau.</p>
<p><strong>Membre :</strong> toute personne physique inscrite au service Coopérons conformément aux stipulations de l'article 2 des Conditions Générales Réseau.</p>
<p><strong>Module d'Invitation :</strong> page Web accessible sur un espace dédié au Membre du site Web <a target="_blank" href="http://www.cooperons.com/">www.cooperons.com</a> permettant (i) d'adhérer au Programme, (ii) parrainer des Filleuls, (iii) et accéder au présent Contrat.</p>
<p><strong>MultiPoints :</strong> catégorie particulière de Points qui, lorsqu'ils sont offerts aux Filleuls d'un Participant, engage le Promoteur à offrir des MultiPoints audit Participant, pour un montant égal aux deux tiers (2/3) arrondi à l'entier inférieur des MultiPoints gagnés par ledit Filleul.</p>
<p><strong>Opérateur :</strong> l'Opérateur tel que défini à l'article 1 des Conditions Générales Réseau.</p>
<p><strong>Participant :</strong> tout Membre ayant effectué son Adhésion au Programme.</p>
<p><strong>Points :</strong> l'unité de compte vendue par l'Opérateur au Promoteur dans le cadre du Programme décrit aux articles 2 et 3, pouvant être convertie par l'Opérateur en avantage pour Vous, au taux de 20 € pour 100 Points, conformément aux stipulations de l'article 4 des Conditions Générales Réseau.</p>
<p><strong>Programme :</strong> programme de stimulation et promotion des ventes du Promoteur défini à l'article 2.</p>
{#</div>#}
