{#<h4 class="legal-title"><a>5. Durée du contrat - Résiliation<i class="fa fa-plus-square-o"></i></a></h4>#}
{#<div class="legal-block" style="display:none;">#}
    <p>Vous déclarez lors de Votre Adhésion, avoir pris connaissance des présentes conditions générales des programmes et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Le présent Contrat Vous est donc pleinement opposable.</p>
    <p>Le Contrat entre en vigueur à compter de Votre Adhésion et il se poursuivra pour une durée indéterminée sauf en cas de résiliation comme stipulé ci-dessous.</p>
    <p>Le Contrat pourra être résilié par Vous selon la procédure disponible sur votre Espace Membre.</p>
    <p>En cas d'application d'un ou plusieurs cas énoncés ci-dessous, le Promoteur se réserve le droit de résilier de plein droit, sans préavis et sans formalité judiciaire, le Contrat par courrier électronique ou par simple courrier postal en cas :</p>
    <ul>
        <li>De manquement substantiel de Votre part à vos obligations au titre du Contrat</li>
        <li>De résiliation du contrat conclu entre Vous ou l’Opérateur au titre des Conditions Générales Réseau</li>
        <li>De changement législatif ou réglementaire ou toute décision d'une autorité administrative affectant de manière substantielle la fourniture d’un Programme</li>
        <li>D'arrêt du Programme.</li>
    </ul>
    <p>Hormis le cas de résiliation des Conditions Générales Réseau par Vous ou l’Opérateur, vos Points resteront valables tant que vous êtes Membre conformément aux stipulations de l’article 3.2 des Conditions Générales Réseau.</p>
    <p>Dans tous les cas de résiliation, si vous êtes le Filleul d’un Participant et que Vous disposez de Filleuls, ces derniers deviendront automatiquement et irréversiblement les Filleuls dudit Participant.</p>
    <p>En conséquence, le Promoteur procédera à la suppression de votre Adhésion et Vous devrez, le cas échéant, prendre en charge tous les frais afférents aux dommages ou préjudices, poursuites judiciaires ou autres frais dus.</p>
{#</div>#}