{#<h4 class="legal-title"><a>6. Modifications<i class="fa fa-plus-square-o"></i></a></h4>#}
{#<div class="legal-block" style="display:none;">#}
<p>Le Promoteur se réserve le droit, à tout moment, de modifier temporairement ou définitivement tout ou partie du Contrat.</p>
<p>Le Promoteur Vous en informera préalablement dans la mesure du possible.</p>
<p>Le Promoteur ne pourra être tenu responsable à Votre encontre ou à l'encontre de tiers pour toute modification, suspension ou interruption d’un Programme.</p>
{#</div>#}