{#<h4 class="legal-title"><a>3. Fonctionnement du Programme<i class="fa fa-minus-square-o"></i></a></h4>#}
{#<div class="legal-block" style="display:block;">#}
    <p>Vous gagnez :</p>
    {% include "AprProgramBundle:Legal:cg_program_func_view_operations.html.twig" %}
{#</div>#}