{#<h4 class="legal-title"><a>4. Clause Limitative de Responsabilité<i class="fa fa-plus-square-o"></i></a></h4>#}
{#<div class="legal-block" style="display:none;">#}
<p>Le Promoteur s'engage à mettre en œuvre tous les moyens nécessaires afin de permettre aux Participants de participer aux Programmes.</p>
<p>Toutefois, le Promoteur décline toute responsabilité en cas de :</p>
<ul>
    <li>Interruptions, pannes, modifications et dysfonctionnement du Service Coopérons ou des Programmes quelles qu'en soient l'origine et la provenance</li>
    <li>Retard, perte ou mauvaise distribution d'un courrier, ni de son envoi à une adresse électronique, erronée ou non</li>
    <li>La perte de données ou d'informations stockées par l'Opérateur</li>
    <li>Impossibilité momentanée d'accès au Service Coopérons ou aux Programmes en raison de problèmes techniques et ce quelles qu'en soient l'origine et la provenance</li>
    <li>Dommages directs ou indirects causés au Participant, quelle qu'en soit la nature, résultant des Programmes et/ou de l'accès, de la gestion, de l'utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption du Service Coopérons</li>
    <li>Utilisation anormale ou d'une exploitation illicite des Programmes par tout Participant</li>
    <li>Attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l'accès au réseau internet.</li>
</ul>
<p>En outre l'Opérateur s'engage et Vous vous engagez à ce qu'aucune des parties ne soit jamais tenue pour responsable de tout dommage indirect tel que, sans que cette liste ne soit limitative : manque à gagner, perte de chance, etc...</p>
{#</div>#}