{#<h4 class="legal-title"><a>7. Divers<i class="fa fa-plus-square-o"></i></a></h4>#}
{#<div class="legal-block" style="display:none;">#}
<p>Le Contrat exprime l'intégralité de l'accord passé entre Le Promoteur et Vous et se substitue à tout accord éventuellement intervenu antérieurement entre Le Promoteur et Vous pour ce qui concerne le Programme.</p>
<p>Si une ou plusieurs dispositions du Contrat étaient tenues pour nulles ou non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite d'une décision d'une juridiction compétente, les autres clauses garderont leur force et leur portée.</p>
<p>Le fait par l'une des parties de ne pas se prévaloir d'un manquement par l'autre partie à l'une quelconque de ses obligations visée dans le Contrat, ou de tarder à exercer l'un quelconque des droits qu'elle tient du Contrat, ne saurait valoir renonciation définitive à l'exécution de cette disposition ou de toute autre disposition, ou à l'exercice de ce droit ou de tout autre droit.</p>
<p>Le Contrat est soumis au droit français. Tous litiges nés de l’interprétation, l’exécution ou la résiliation du Contrat seront soumis aux tribunaux compétents.</p>
{#</div>#}