/* line 6, ../../../scss/components/label_badge/label_badge.scss */
.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding: 4px 8px;
  text-shadow: none;
}

/* line 15, ../../../scss/components/label_badge/label_badge.scss */
.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}

/* line 26, ../../../scss/components/label_badge/label_badge.scss */
.label-primary,
.badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}

/* line 31, ../../../scss/components/label_badge/label_badge.scss */
.label-success,
.badge-success {
  background-color: #1c84c6;
  color: #FFFFFF;
}

/* line 36, ../../../scss/components/label_badge/label_badge.scss */
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}

/* line 41, ../../../scss/components/label_badge/label_badge.scss */
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}

/* line 46, ../../../scss/components/label_badge/label_badge.scss */
.label-danger,
.badge-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}

/* line 51, ../../../scss/components/label_badge/label_badge.scss */
.label-info,
.badge-info {
  background-color: #23c6c8;
  color: #FFFFFF;
}

/* line 56, ../../../scss/components/label_badge/label_badge.scss */
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}

/* line 61, ../../../scss/components/label_badge/label_badge.scss */
.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}

/* line 66, ../../../scss/components/label_badge/label_badge.scss */
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}

/* line 72, ../../../scss/components/label_badge/label_badge.scss */
.label-status,
.badge-status {
  background-color: #26bbf0;
  color: white;
  font-size: 11px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  margin-left: 10px;
}

/* line 87, ../../../scss/components/label_badge/label_badge.scss */
.standby {
  background-color: #f9b503;
}

/* line 88, ../../../scss/components/label_badge/label_badge.scss */
.prod {
  background-color: #6abb4f;
}

/* line 89, ../../../scss/components/label_badge/label_badge.scss */
.cancel {
  background-color: #e40a20;
}

/* line 90, ../../../scss/components/label_badge/label_badge.scss */
.title {
  display: inline-block;
  width: auto;
  float: left;
  margin-top: 10px;
}

/* labels & badges */
/* line 98, ../../../scss/components/label_badge/label_badge.scss */
.label {
  border-radius: 4px;
  text-shadow: none;
  font-weight: normal;
  display: inline-block;
  background-color: #abbac3 !important;
}

/* line 105, ../../../scss/components/label_badge/label_badge.scss */
.label[class*="col-"][class*="arrow"] {
  min-height: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 109, ../../../scss/components/label_badge/label_badge.scss */
  ::safari-only,
  .label:empty {
    display: inline-block;
  }

  /* line 113, ../../../scss/components/label_badge/label_badge.scss */
  ::safari-only,
  .badge:empty {
    display: inline-block;
  }
}
/* line 118, ../../../scss/components/label_badge/label_badge.scss */
.badge {
  text-shadow: none;
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 3px;
  font-weight: normal;
  line-height: 15px;
  background-color: #abbac3 !important;
}

/* line 127, ../../../scss/components/label_badge/label_badge.scss */
.badge.no-radius {
  border-radius: 0;
}

/* line 130, ../../../scss/components/label_badge/label_badge.scss */
.badge.radius-1 {
  border-radius: 1px;
}

/* line 133, ../../../scss/components/label_badge/label_badge.scss */
.badge.radius-2 {
  border-radius: 2px;
}

/* line 136, ../../../scss/components/label_badge/label_badge.scss */
.badge.radius-3 {
  border-radius: 3px;
}

/* line 139, ../../../scss/components/label_badge/label_badge.scss */
.badge.radius-4 {
  border-radius: 4px;
}

/* line 142, ../../../scss/components/label_badge/label_badge.scss */
.badge.radius-5 {
  border-radius: 5px;
}

/* line 145, ../../../scss/components/label_badge/label_badge.scss */
.badge.radius-6 {
  border-radius: 6px;
}

/* line 148, ../../../scss/components/label_badge/label_badge.scss */
.label-transparent,
.badge-transparent {
  background-color: transparent !important;
}

/* line 152, ../../../scss/components/label_badge/label_badge.scss */
.label-grey,
.badge-grey {
  background-color: #a0a0a0 !important;
}

/* line 156, ../../../scss/components/label_badge/label_badge.scss */
.label-info,
.badge-info {
  background-color: #3a87ad !important;
}

/* line 160, ../../../scss/components/label_badge/label_badge.scss */
.label-primary,
.badge-primary {
  background-color: #428bca !important;
}

/* line 164, ../../../scss/components/label_badge/label_badge.scss */
.label-success,
.badge-success {
  background-color: #82af6f !important;
}

/* line 168, ../../../scss/components/label_badge/label_badge.scss */
.label-danger,
.badge-danger {
  background-color: #d15b47 !important;
}

/* line 172, ../../../scss/components/label_badge/label_badge.scss */
.label-important,
.badge-important {
  background-color: #e02222 !important;
}

/* line 176, ../../../scss/components/label_badge/label_badge.scss */
.label-inverse,
.badge-inverse {
  background-color: #333333 !important;
}

/* line 180, ../../../scss/components/label_badge/label_badge.scss */
.label-warning,
.badge-warning {
  background-color: #f89406 !important;
}

/* line 184, ../../../scss/components/label_badge/label_badge.scss */
.label-pink,
.badge-pink {
  background-color: #d6487e !important;
}

/* line 188, ../../../scss/components/label_badge/label_badge.scss */
.label-purple,
.badge-purple {
  background-color: #9585bf !important;
}

/* line 192, ../../../scss/components/label_badge/label_badge.scss */
.label-yellow,
.badge-yellow {
  background-color: #fee188 !important;
}

/* line 196, ../../../scss/components/label_badge/label_badge.scss */
.label-light,
.badge-light {
  background-color: #e7e7e7 !important;
}

/* line 200, ../../../scss/components/label_badge/label_badge.scss */
.badge-yellow,
.label-yellow {
  color: #996633 !important;
  border-color: #fee188;
}

/* line 205, ../../../scss/components/label_badge/label_badge.scss */
.badge-light,
.label-light {
  color: #888 !important;
}

/* line 209, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed,
.label.arrowed-in {
  position: relative;
  z-index: 1;
}

/* line 214, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed:before,
.label.arrowed-in:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-right-color: #abbac3;
}

/* line 224, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-in:before {
  border-color: #abbac3;
  border-left-color: transparent !important;
}

/* line 228, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-right,
.label.arrowed-in-right {
  position: relative;
  z-index: 1;
}

/* line 233, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-right:after,
.label.arrowed-in-right:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-left-color: #abbac3;
}

/* line 243, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-in-right:after {
  border-color: #abbac3;
  border-right-color: transparent !important;
}

/* line 247, ../../../scss/components/label_badge/label_badge.scss */
.label-info.arrowed:before {
  border-right-color: #3a87ad;
}

/* line 250, ../../../scss/components/label_badge/label_badge.scss */
.label-info.arrowed-in:before {
  border-color: #3a87ad;
}

/* line 253, ../../../scss/components/label_badge/label_badge.scss */
.label-info.arrowed-right:after {
  border-left-color: #3a87ad;
}

/* line 256, ../../../scss/components/label_badge/label_badge.scss */
.label-info.arrowed-in-right:after {
  border-color: #3a87ad;
}

/* line 259, ../../../scss/components/label_badge/label_badge.scss */
.label-primary.arrowed:before {
  border-right-color: #428bca;
}

/* line 262, ../../../scss/components/label_badge/label_badge.scss */
.label-primary.arrowed-in:before {
  border-color: #428bca;
}

/* line 265, ../../../scss/components/label_badge/label_badge.scss */
.label-primary.arrowed-right:after {
  border-left-color: #428bca;
}

/* line 268, ../../../scss/components/label_badge/label_badge.scss */
.label-primary.arrowed-in-right:after {
  border-color: #428bca;
}

/* line 271, ../../../scss/components/label_badge/label_badge.scss */
.label-success.arrowed:before {
  border-right-color: #82af6f;
}

/* line 274, ../../../scss/components/label_badge/label_badge.scss */
.label-success.arrowed-in:before {
  border-color: #82af6f;
}

/* line 277, ../../../scss/components/label_badge/label_badge.scss */
.label-success.arrowed-right:after {
  border-left-color: #82af6f;
}

/* line 280, ../../../scss/components/label_badge/label_badge.scss */
.label-success.arrowed-in-right:after {
  border-color: #82af6f;
}

/* line 283, ../../../scss/components/label_badge/label_badge.scss */
.label-warning.arrowed:before {
  border-right-color: #f89406;
}

/* line 286, ../../../scss/components/label_badge/label_badge.scss */
.label-warning.arrowed-in:before {
  border-color: #f89406;
}

/* line 289, ../../../scss/components/label_badge/label_badge.scss */
.label-warning.arrowed-right:after {
  border-left-color: #f89406;
}

/* line 292, ../../../scss/components/label_badge/label_badge.scss */
.label-warning.arrowed-in-right:after {
  border-color: #f89406;
}

/* line 295, ../../../scss/components/label_badge/label_badge.scss */
.label-important.arrowed:before {
  border-right-color: #d15b47;
}

/* line 298, ../../../scss/components/label_badge/label_badge.scss */
.label-important.arrowed-in:before {
  border-color: #d15b47;
}

/* line 301, ../../../scss/components/label_badge/label_badge.scss */
.label-important.arrowed-right:after {
  border-left-color: #d15b47;
}

/* line 304, ../../../scss/components/label_badge/label_badge.scss */
.label-important.arrowed-in-right:after {
  border-color: #d15b47;
}

/* line 307, ../../../scss/components/label_badge/label_badge.scss */
.label-danger.arrowed:before {
  border-right-color: #d15b47;
}

/* line 310, ../../../scss/components/label_badge/label_badge.scss */
.label-danger.arrowed-in:before {
  border-color: #d15b47;
}

/* line 313, ../../../scss/components/label_badge/label_badge.scss */
.label-danger.arrowed-right:after {
  border-left-color: #d15b47;
}

/* line 316, ../../../scss/components/label_badge/label_badge.scss */
.label-danger.arrowed-in-right:after {
  border-color: #d15b47;
}

/* line 319, ../../../scss/components/label_badge/label_badge.scss */
.label-inverse.arrowed:before {
  border-right-color: #333333;
}

/* line 322, ../../../scss/components/label_badge/label_badge.scss */
.label-inverse.arrowed-in:before {
  border-color: #333333;
}

/* line 325, ../../../scss/components/label_badge/label_badge.scss */
.label-inverse.arrowed-right:after {
  border-left-color: #333333;
}

/* line 328, ../../../scss/components/label_badge/label_badge.scss */
.label-inverse.arrowed-in-right:after {
  border-color: #333333;
}

/* line 331, ../../../scss/components/label_badge/label_badge.scss */
.label-pink.arrowed:before {
  border-right-color: #d6487e;
}

/* line 334, ../../../scss/components/label_badge/label_badge.scss */
.label-pink.arrowed-in:before {
  border-color: #d6487e;
}

/* line 337, ../../../scss/components/label_badge/label_badge.scss */
.label-pink.arrowed-right:after {
  border-left-color: #d6487e;
}

/* line 340, ../../../scss/components/label_badge/label_badge.scss */
.label-pink.arrowed-in-right:after {
  border-color: #d6487e;
}

/* line 343, ../../../scss/components/label_badge/label_badge.scss */
.label-purple.arrowed:before {
  border-right-color: #9585bf;
}

/* line 346, ../../../scss/components/label_badge/label_badge.scss */
.label-purple.arrowed-in:before {
  border-color: #9585bf;
}

/* line 349, ../../../scss/components/label_badge/label_badge.scss */
.label-purple.arrowed-right:after {
  border-left-color: #9585bf;
}

/* line 352, ../../../scss/components/label_badge/label_badge.scss */
.label-purple.arrowed-in-right:after {
  border-color: #9585bf;
}

/* line 355, ../../../scss/components/label_badge/label_badge.scss */
.label-yellow.arrowed:before {
  border-right-color: #fee188;
}

/* line 358, ../../../scss/components/label_badge/label_badge.scss */
.label-yellow.arrowed-in:before {
  border-color: #fee188;
}

/* line 361, ../../../scss/components/label_badge/label_badge.scss */
.label-yellow.arrowed-right:after {
  border-left-color: #fee188;
}

/* line 364, ../../../scss/components/label_badge/label_badge.scss */
.label-yellow.arrowed-in-right:after {
  border-color: #fee188;
}

/* line 367, ../../../scss/components/label_badge/label_badge.scss */
.label-light.arrowed:before {
  border-right-color: #e7e7e7;
}

/* line 370, ../../../scss/components/label_badge/label_badge.scss */
.label-light.arrowed-in:before {
  border-color: #e7e7e7;
}

/* line 373, ../../../scss/components/label_badge/label_badge.scss */
.label-light.arrowed-right:after {
  border-left-color: #e7e7e7;
}

/* line 376, ../../../scss/components/label_badge/label_badge.scss */
.label-light.arrowed-in-right:after {
  border-color: #e7e7e7;
}

/* line 379, ../../../scss/components/label_badge/label_badge.scss */
.label-grey.arrowed:before {
  border-right-color: #a0a0a0;
}

/* line 382, ../../../scss/components/label_badge/label_badge.scss */
.label-grey.arrowed-in:before {
  border-color: #a0a0a0;
}

/* line 385, ../../../scss/components/label_badge/label_badge.scss */
.label-grey.arrowed-right:after {
  border-left-color: #a0a0a0;
}

/* line 388, ../../../scss/components/label_badge/label_badge.scss */
.label-grey.arrowed-in-right:after {
  border-color: #a0a0a0;
}

/* line 391, ../../../scss/components/label_badge/label_badge.scss */
.label {
  font-size: 12px;
  line-height: 1.15;
  min-height: 16px;
}

/* line 396, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed {
  margin-left: 5px;
}

/* line 399, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed:before {
  left: -10px;
  border-width: 10px 5px;
}

/* line 403, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-in {
  margin-left: 5px;
}

/* line 406, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-in:before {
  left: -5px;
  border-width: 10px 5px;
}

/* line 410, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-right {
  margin-right: 5px;
}

/* line 413, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-right:after {
  right: -10px;
  border-width: 10px 5px;
}

/* line 417, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-in-right {
  margin-right: 5px;
}

/* line 420, ../../../scss/components/label_badge/label_badge.scss */
.label.arrowed-in-right:after {
  right: -5px;
  border-width: 10px 5px;
}

/* line 424, ../../../scss/components/label_badge/label_badge.scss */
.label-lg {
  padding: 0.3em 0.6em 0.4em;
  font-size: 13px;
  line-height: 1.1;
  height: 24px;
}

/* line 430, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed {
  margin-left: 6px;
}

/* line 433, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed:before {
  left: -12px;
  border-width: 12px 6px;
}

/* line 437, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed-in {
  margin-left: 6px;
}

/* line 440, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed-in:before {
  left: -6px;
  border-width: 12px 6px;
}

/* line 444, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed-right {
  margin-right: 6px;
}

/* line 447, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed-right:after {
  right: -12px;
  border-width: 12px 6px;
}

/* line 451, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed-in-right {
  margin-right: 6px;
}

/* line 454, ../../../scss/components/label_badge/label_badge.scss */
.label-lg.arrowed-in-right:after {
  right: -6px;
  border-width: 12px 6px;
}

/* line 458, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg {
  padding: 0.3em 0.7em 0.4em;
  font-size: 14px;
  line-height: 1.3;
  height: 28px;
}

/* line 464, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed {
  margin-left: 7px;
}

/* line 467, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed:before {
  left: -14px;
  border-width: 14px 7px;
}

/* line 471, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed-in {
  margin-left: 7px;
}

/* line 474, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed-in:before {
  left: -7px;
  border-width: 14px 7px;
}

/* line 478, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed-right {
  margin-right: 7px;
}

/* line 481, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed-right:after {
  right: -14px;
  border-width: 14px 7px;
}

/* line 485, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed-in-right {
  margin-right: 7px;
}

/* line 488, ../../../scss/components/label_badge/label_badge.scss */
.label-xlg.arrowed-in-right:after {
  right: -7px;
  border-width: 14px 7px;
}

/* line 492, ../../../scss/components/label_badge/label_badge.scss */
.label-sm {
  padding: 0.2em 0.4em 0.3em;
  font-size: 11px;
  line-height: 1;
  height: 18px;
}

/* line 498, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed {
  margin-left: 4px;
}

/* line 501, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed:before {
  left: -8px;
  border-width: 9px 4px;
}

/* line 505, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed-in {
  margin-left: 4px;
}

/* line 508, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed-in:before {
  left: -4px;
  border-width: 9px 4px;
}

/* line 512, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed-right {
  margin-right: 4px;
}

/* line 515, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed-right:after {
  right: -8px;
  border-width: 9px 4px;
}

/* line 519, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed-in-right {
  margin-right: 4px;
}

/* line 522, ../../../scss/components/label_badge/label_badge.scss */
.label-sm.arrowed-in-right:after {
  right: -4px;
  border-width: 9px 4px;
}

/* line 526, ../../../scss/components/label_badge/label_badge.scss */
.label > span,
.label > [class*="icon-"] {
  line-height: 1;
  vertical-align: bottom;
}

@media only screen and (max-width: 767px) {
  /* line 533, ../../../scss/components/label_badge/label_badge.scss */
  .title {
    max-width: 75px;
  }

  /* line 536, ../../../scss/components/label_badge/label_badge.scss */
  .collection-icon {
    display: none;
  }
}
