/* line 29, ../../../scss/modules/program/program.scss */
input.ace[type="checkbox"] + .lbl::before, input.ace[type="radio"] + .lbl::before {
  background-color: transparent;
  color: #7c8389;
  box-shadow: none;
  text-shadow: none;
  border: none;
  content: "\f10c";
  font-size: 18px;
}

/* line 42, ../../../scss/modules/program/program.scss */
.uploaded_image {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  margin: 20px 0;
}

/* line 48, ../../../scss/modules/program/program.scss */
.api_btn {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 0 30px;
}

/* line 54, ../../../scss/modules/program/program.scss */
.doc_api_btn {
  background: url(images/doc_api_btn.png) no-repeat;
}

/* line 57, ../../../scss/modules/program/program.scss */
.journal_api_btn {
  background: url(images/journal_api_btn.png) no-repeat;
}

/* line 60, ../../../scss/modules/program/program.scss */
.activation_api_btn {
  background: url(images/activation_api_btn.png) no-repeat;
}

/* line 63, ../../../scss/modules/program/program.scss */
.reset_api_btn {
  background: url(images/reset_api_btn.png) no-repeat;
}

/* line 68, ../../../scss/modules/program/program.scss */
input.ace[type="checkbox"] + .lbl::before {
  content: "\f096";
}
/* line 72, ../../../scss/modules/program/program.scss */
input.ace[type="checkbox"]:checked + .lbl::before {
  content: "\f14a";
}
/* line 80, ../../../scss/modules/program/program.scss */
input.ace[type="radio"]:checked + .lbl::before {
  content: "\f192";
}

/* line 85, ../../../scss/modules/program/program.scss */
#apr_easyprogrambundle_document_Charger {
  font-family: latoregular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 8px;
  background-color: #586272 !important;
  border-color: #fff;
  border-style: solid;
  border-width: 2px 2px 2px 4px;
  color: #fff;
  border-radius: 0;
}
/* line 98, ../../../scss/modules/program/program.scss */
#apr_easyprogrambundle_document_Charger:active {
  left: auto;
  top: auto;
}

/* line 104, ../../../scss/modules/program/program.scss */
#visualiserProgram {
  background-color: #31328a;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  display: inline-block;
  float: right;
}
/* line 112, ../../../scss/modules/program/program.scss */
#visualiserProgram i {
  margin-right: 7px;
}
/* line 115, ../../../scss/modules/program/program.scss */
#visualiserProgram:hover {
  text-decoration: none;
  background-color: #2d2161;
}

/* line 120, ../../../scss/modules/program/program.scss */
.blink_me {
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}
/* line 159, ../../../scss/modules/program/program.scss */
p.form-group .form-field .amount-form {
  box-sizing: border-box;
  height: 32px;
  width: 48.7%;
  vertical-align: text-bottom;
}

/* line 166, ../../../scss/modules/program/program.scss */
.ace-file-input.has-error {
  position: relative;
  padding-bottom: 25px;
}
/* line 169, ../../../scss/modules/program/program.scss */
.ace-file-input.has-error .ace-file-container {
  border-color: #ea2a36;
}
/* line 172, ../../../scss/modules/program/program.scss */
.ace-file-input.has-error .erreurform {
  position: absolute;
  background-color: #ea2a36;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  font-style: italic;
  line-height: normal;
  padding: 5px 4px;
  top: 30px;
  width: 100%;
}
/* line 184, ../../../scss/modules/program/program.scss */
.ace-file-input.has-error .erreurform:before {
  content: "";
  display: block;
  border-color: #fff #fff #ea2a36 #fff;
  border-style: solid;
  border-width: 4px;
  width: 0;
  height: 0;
  position: absolute;
  top: -9px;
  left: 19px;
  z-index: 1;
}

/* line 199, ../../../scss/modules/program/program.scss */
.btn-primary .icon-animated-vertical {
  display: inline-block;
  margin-right: 10px;
  margin-top: 2px;
}

/* line 205, ../../../scss/modules/program/program.scss */
span.input-icon {
  display: inline-block;
  margin-left: 20px;
  width: 85%;
}

/* line 210, ../../../scss/modules/program/program.scss */
.input-icon {
  position: relative;
}

/* line 216, ../../../scss/modules/program/program.scss */
.config_api .md-button.md-icon-button {
  margin-right: 10px;
}

/* line 219, ../../../scss/modules/program/program.scss */
.config_api .md-button.md-icon-button:last-child {
  margin-right: 0;
}
