.contenu_cgv{
	width:95%;
	float:left;
    text-align: justify;
}
.contenu_cgv h2{
    line-height: normal;
}

.contenu_cgv ul li{list-style:circle;}

.information{
    float: left;
    margin: 3% 1% 2% 1%;
}

.bouton_cgv{
	float:right;
	width:auto;
	margin-top:20px;
	margin-right:5%;
}

.bouton_cgv button.btn_cta{
    padding: 10% 27%;
}

.services_cgv_1 .menage_cgv, .services_cgv_2 .garde_cgv, .services_cgv_3 .jardinage_cgv, .services_cgv_4 .repas_cgv{
    display: block;
}
.menage_cgv,
.garde_cgv,
.jardinage_cgv,
.repas_cgv{
	padding-left:40px;
	padding-bottom:10px;
    display: none;
}

.menage_cgv{background:url("images/menage_cgv.png") no-repeat;}

.garde_cgv{background:url("images/garde_cgv.png") no-repeat;}

.jardinage_cgv{background:url("images/jardinage_cgv.png") no-repeat;}

.repas_cgv{background:url("images/repas_cgv.png") no-repeat;}

@media (max-width:479px){
    .bouton_cgv{
	width:auto !important;
        margin-top: 20px !important;
        text-align:center !important;
        float:none !important;
    }
    .bouton_cgv button.btn_cta {
    padding: 4% 13% !important;
    }
}