/* Global Styles */

body {
    margin:0;
    font-family:'latoregular'/*, Helvetica, Arial, sans-serif*/;
    font-size:87.5%;
    line-height:1.429em;
    color:#7c8389;
    background-color:#eef3fa;
}
@media (max-width:767px) {
    body {
        padding-right:0;
        padding-left:0;
    }
}

/* Liens */
a{
    color:#27368b;
    cursor:pointer;
}
a:hover{color:#2d2161;}

/* Titres */
h1,h2,h3,h4{
    font-family:'robotoregular', Arial, Helvetica, sans-serif;
    font-weight:normal;
}

h1{
    font-size:2em;
    color:#27368b;
    padding-left:30px;
    border-bottom:1px solid #f2f2f2;
    padding:1.8% 1.8% 1.8% 4%;
}

h2{
    padding:0;
    margin-bottom:10px;
    margin-top:20px;
    font-size:24px;
    line-height:40px;
    color:#424644;
    border:none;
}

h3{
    padding:0;
    margin-bottom:10px;
    margin-top:20px;
    font-size:18px;
    line-height:30px;
    color:#424644;
    border:none;
}

h4 {
    display:inline-block;
    font-size:1.2em;
    width:100%;
    margin:0;
    padding:0;
}

/**** Markup ****/
/* Header */



.navbar{
    max-width:960px;
    margin:0 auto;
}

.navbar .navbar-inner{
    border:none;
}

.navbar .brand{
    font-family:'robotoregular', Arial, Helvetica, sans-serif;
    text-shadow:none;
    padding-left:10px;
    margin-left:5px;
    color:#FFFFFF;
}

.topnavbar{
    background-color:#fefefe;
    font-size:2em;
    border-bottom:4px solid #27368b;
}

.topnavbar .logo{
    background:url(images/logo.png) no-repeat left center;
    margin-left:3%;
    width:170px;
    height:44px;
    display:inline-block;
    padding:10px;
}

/* Content */
.main_content{
    margin:0 auto;
    max-width:960px;
    width:auto;
    background-color:#fafafa;
}

.main_content > .content{background-color:#ffffff;padding-top:30px;}

.content_wrapper{
    width:75%;
    float:left;
    border-left:4px solid #f2f2f2;
    padding-bottom:20px;
    background:#FFFFFF;
    min-height:410px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;
}

.main_content.reduced .content_wrapper{width:95%;}
.separateur_haut{height:40px;}

.help-block{color:red;}

.layout-content{
    /*margin:0 3%;*/
}
.clear{clear:both;}
.span12{width:94%;margin:0 3%;}

.align-center{text-align:center}
.nowrap{white-space:nowrap}

@media (max-width:979px){
    .topnavbar{display:none;}
    .sidebar_menu{display:none;}
    .content_wrapper,
    .main_content.reduced .content_wrapper{
        border:none;
        width:100%;
    }
}

.imgmargin{margin-top:10px;}

/* Common blocks */
.information,
.notification,
.loyalty,
.rappel,
.avantage,
.cheque,
.alertbox{
    border:1px solid #d9d9d9;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:10px 0;/* = 10px/730px */
    margin:2.73972602739726%;/* = 20px/730px */
    font-size:14px;
    clear:both;
}

.information table,
.notification table,
.loyalty table,
.rappel table,
.avantage table,
.cheque table,
.alertbox table{
    width:100% !important;
    margin:0 !important;
}

.information table tr td,
.notification table tr td,
.loyalty table tr td,
.rappel table tr td,
.avantage table tr td,
.cheque table tr td,
.alertbox table tr td{
    padding:0 !important;
    font-size:14px !important;
}

.information table tr td:first-child,
.notification table tr td:first-child,
.loyalty table tr td:first-child,
.rappel table tr td:first-child,
.avantage table tr td:first-child,
.cheque table tr td:first-child,
.alertbox table tr td:first-child{
    background:url(images/info_vert.png) no-repeat center center;
    width:100px;
    border-right:1px solid #d9d9d9 !important;
    height:70px;
}

.information table tr td:last-child,
.notification table tr td:last-child,
.loyalty table tr td:last-child,
.rappel table tr td:last-child,
.avantage table tr td:last-child,
.cheque table tr td:last-child,
.alertbox table tr td:last-child{
    padding:0 2% !important;
}

.information span,
.notification span,
.rappel span,
.avantage span{
    display:inline-block;
}

.parrainage{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #76d17f;
    padding:0;
    font-size:14px;
    margin-bottom:10px;
}

.parrainage span{text-align:center;width:100%;display:inline-block}

.parrainage .parrainage_content{
    background-color:#76d17f;
    color:#ffffff;
    padding:3%;
}

.parrainage .parrainage_content h5{margin-top:0;font-size:16px;text-align:left}

.parrainage .parrainage_content td{width:50%;text-align:justify;line-height:normal;}

.parrainage .parrainage_content p.parrainage_btn{display:none;margin-top:1em}

.parrainage .parrainage_content .parrainage_btn{text-align:right;}

.parrainage .parrainage_content .parrainage_btn a,
.parrainage .parrainage_content p.parrainage_btn a{
    background-color:#ee4399;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:0 2px 0 #b72c72;
    -moz-box-shadow:0 2px 0 #b72c72;
    -webkit-box-shadow:0 2px 0 #b72c72;
    font-family:'latoregular';
    font-size:16px;
    color:#ffffff;
    padding:10px;
    display:inline-block;
    text-align:center;
    margin-left:10%
}

.parrainage .parrainage_content .parrainage_btn a:hover,
.parrainage .parrainage_content p.parrainage_btn a:hover,
.parrainage .parrainage_content .parrainage_btn a:focus,
.parrainage .parrainage_content p.parrainage_btn a:focus{
    background-color:#b72c72;
    text-decoration:none;
}

.parrainage_container{
    background:url("images/cs_title.png") repeat-x left bottom;
    padding-bottom:20px;
    margin-bottom:20px;
}

.parrainage_container:last-child{
    background:transparent;
    padding-bottom:0px;
    margin-bottom:0px;
}
.alertbox{
    color:#ea2a36;
    border:1px solid #ea2a36;
    border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.alertbox table tr td:first-child{
    background:url("images/alertbox.png") no-repeat center center;
    border-right: 1px solid #ea2a36 !important;
}
.alertbox .title-header{
    margin-top:0;
    margin-bottom:5px;
    line-height:normal;
}

@media (max-width:479px){
    .parrainage .parrainage_content p.parrainage_btn{display:block;float:right}
    .parrainage span, .parrainage .parrainage_content td.parrainage_btn{display:none;}
}

.information ul{
    margin:0px;
    padding:0px;
}
.information ul li{
    margin:0px;
    padding-left:20px;
    list-style:none;
}
.information ul.puce{
    margin-left:1em;
}
.content .information ul li{
    list-style: disc;
    margin-left: 15px;
    padding: 0;
}

.information ul.puce li:before {
    content:"\F0DA";
    font-family:'FontAwesome';
    margin-right:5px;
}

.information ul.puce li {
    padding:0;
    list-style:none;
    text-indent:-10px;
    margin-bottom:10px;
}

.information ul li.visualiser{
    background:url(images/visualiser.jpg) no-repeat ;
}
.information ul li.refuser{
    background:url(images/supprimer.jpg) no-repeat ;
}
.information ul li.accepter{
    background:url(images/valider.jpg) no-repeat ;
}

.information img{vertical-align:bottom}

.notification table tr td:first-child{background:url(images/notification.png) no-repeat center center;}

.rappel table tr td:first-child{background:url(images/rappel.png) no-repeat center center;}

.avantage table tr td:first-child{background:url(images/avantage.png) no-repeat center center;}

.cheque table tr td:first-child{background:url(images/cheques.png) no-repeat center center;}

.avantage h4,
.cheque h4{
    font-size:18px;
    color:#2f2463;
    font-family:'latobold';
    margin:10px 0;
}

.loyalty{
    background:#76d17f;
    color:#ffffff;
}

.loyalty .loyalty_txt{font-size:22px;line-height:normal;}

.loyalty table tr td:first-child{background:url(images/loyalty.png) no-repeat center center;border-right:none !important;width:187px;height:215px;}

.loyalty .btn_cta,
.parrainage_container .btn_cta{
    background:#ee4399;
    box-shadow:0 2px 0 #b72c72;
    -moz-box-shadow:0 2px 0 #b72c72;
    -webkit-box-shadow:0 2px 0 #b72c72;
    padding:10px;
    float:right;
    margin-top:1em;
}

.avantage h5{
    color:#FFB400;
    font-size:14px;
    font-weight:bold;
}

.parrainage_container .calltoaction{
    text-align:right;
    margin-top:1em;
}
.parrainage_container .calltoaction .btn_cta{
    float:none;
    margin:0;
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:0 10px;
}

.loyalty .btn_cta:hover,.loyalty .btn_cta:focus,.parrainage_container .btn_cta:hover,.parrainage_container .btn_cta:focus{background:#b72c72;}

.loyalty .txt_important{
    color:#000000;
    font-family:'latoblack';
    font-size:1.2em;
}

.loyalty img{vertical-align:bottom;margin-right:10px;}

.loyalty p{font-size:16px !important;}

@media (min-width:320px) and (max-width:639px){
    .information table tr td:first-child,
    .notification table tr td:first-child,
    .loyalty table tr td:first-child,
    .rappel table tr td:first-child{
        width:18%;
        background-size:67% auto;
    }

    .parrainage .filleul_ppites_box,
    .parrainage .ppites_box,
    .parrainage .filleul_box,
    .parrainage .search_ae_box,
    .parrainage .with_ae_box{
        background-size:20% auto;
        padding-left:23%;
    }
}

@media (max-width:319px){
    .information table tr td:first-child,
    .notification table tr td:first-child,
    .loyalty table tr td:first-child,
    .rappel table tr td:first-child{
        display:none;
    }

    .parrainage .filleul_ppites_box,
    .parrainage .ppites_box,
    .parrainage .filleul_box,
    .parrainage .search_ae_box,
    .parrainage .with_ae_box{
        background:none;
        padding-left:0;
        min-height:inherit;
    }

    .information table tr td:last-child,
    .notification table tr td:last-child,
    .loyalty table tr td:last-child,
    .rappel table tr td:last-child{
        padding:0 10px !important;
    }

    .parrainage_container .calltoaction .btn_cta{
        padding:0;
        text-align:center;
        width:100%;
    }
}

.margin_left_right{
    margin:0 2.73973%;
}

/* Boutons */

.container_cta{
    width:auto;
    margin:20px 3%;
}

.container_cta .btn_cta{padding:5px 10px;text-align:center;display:block;}

a.btn_cta,
button.btn_cta{
    font-family:'latoregular';
    background:#76d17f;
    box-shadow:0 2px 0 #5EA766;
    -moz-box-shadow:0 2px 0 #5EA766;
    -webkit-box-shadow:0 2px 0 #5EA766;
    border-radius:3px !important;
    -moz-border-radius:3px !important;
    -webkit-border-radius:3px !important;
    color:#ffffff;
    font-size:1.15em;
    border:none;
    line-height:normal;
    text-shadow:none;
}

button.btn_cta{
    text-shadow:none;
    margin:0;
    border:none;
    font-size:16px;
}

a.btn_cta:hover,
button.btn_cta:hover,
a.btn_cta:focus,
button.btn_cta:focus{
    background:#5ea766;
    color:#ffffff;
    text-decoration:none;
}

a.btn_cta:focus,
button.btn_cta:focus{
    background:#69c872;
}

#re-send-activation,
.consulter{
    background-color:#31328a;
    float:right;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    display:inline-block;
    color:#ffffff;
    font-size:0.857em; /* 12px */
    padding:0 10px;
    border-bottom:solid 2px #2d2161;
    margin-top:10px;
}

#re-send-activation:hover,.consulter:hover,.consulter:focus{
    background-color:#2d2161;
    text-decoration:none;
    color:#ffffff;
}

.form .form-heading{text-align:center;margin-top:0;}

.logo_login{text-align:center;margin:20px;}

#ForgetPassword_Valider, .connecter{width:100%}
.connecter:hover, .connecter:focus, .connecter:active, .connecter.active, .connecter.disabled, .connecter[disabled]{background:#27368b;color:#ffffff;}
a#forget{display:inline-block;margin-top:20px;text-align:center;width:100%;}

@media (max-width:319px){#re-send-activation{display:block;float:none;text-align:center}}

.btn_txt{
    background:url(images/delete.gif) no-repeat left center;
    padding-left:14px;
    color:#7c8389;
    font-size:0.786em;
    margin:0 6.875% 10px;
    display:inline-block;
}

.btn_txt:hover{
    color:#F00;
    text-decoration:none;
}

#registration_Annuler{
    background:none;
    text-shadow:none;
    border:none;
    color:#7c8389;
    font-size:16px;
    text-decoration:underline;
    box-shadow:       0px 0px 0px #FFFFFF;
    -moz-box-shadow:  0px 0px 0px #FFFFFF;
    -webkit-box-shadow:0px 0px 0px #FFFFFF;
}

/* Divers */

input[type="text"],
input[type="email"],
input[type="password"]{
    height:19px;
    line-height:19px;
    box-shadow:none;
    font-family:'latoregular';
    color:#7c8389;
    border:1px solid #d9d9d9;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    border-radius:0;
    font-size:12px;
}

.grastxt{font-size:1.2em;}

@media (max-width:979px){
    .border{
        margin-top:2%;
        margin-bottom:5%;
    }

    .navbar{display:block}

    h1{display:none;}

}


@media (min-width:979px){
    .brand{
        display:none !important;
    }
}


.aucun_parrain{
    border:1px solid #d9d9d9;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:1.36986301369863%;
    padding-left:100px;
    margin-right:5%;
    margin-left:1%;
    background:url(images/info_vert.png) no-repeat 2.465753424657534% 50%;
    min-height:70px;
}
.bouton_right{
    width:100%;
    text-align:right;
}

.separateur_haut{height:40px;}

.txt_notification{width:85%; padding-left:30px;}

.aucun_parrain{
    border:1px solid #d9d9d9;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    padding:1.36986301369863%;
    padding-left:100px;
    margin-right:3%;
    background:url(images/info_vert.png) no-repeat 2.465753424657534% 50%;
    min-height:70px;
    margin-bottom:10px;
}
.aucun_parrain > span{
    border-left:1px solid #d9d9d9;
    padding:0 2.73972602739726%;
    display:inline-block;
    min-height:65px;
}

.bloc_notif_ae{
    width:97%;
    padding-left:3%;
}

.bootstrap-datetimepicker-widget table td.disabled{color:#aaa;}
/* From Web Site */
.fromwebsite,.fromwebsite .content_wrapper_full{background-color:#fdfdfd;}
.fromwebsite .separateur_haut{display:none;}

.modal-loading {
    display:   none;
    position:  fixed;
    z-index:   10000;
    top:       0;
    left:      0;
    height:    100%;
    width:     100%;
    background-color:rgba(0, 0, 0, 0.4);

}
.modal-loading div{
    position:  absolute;
    top:       50%;
    margin-top:-16px;
    left:      50%;
    margin-left:-16px;
    height:    32px;
    width:     32px;
}
.modal-loading-bg .modal-loading{
    height:30%;
    left:35%;
    top:35%;
    width:30%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#load.loading {
    overflow:hidden;
    position:relative;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#load.loading .modal-loading {
    display:block;
}

#form_report{
    min-height:200px;
}

.link-no-hover:hover{text-decoration:none}

.red_title{
    padding:0;
    margin:0;
    position:relative;
    text-align:center;
    border:none;
}
.red_title:before{
    display:block;
    position: absolute;
    border-bottom:2px solid #ea2a36;
    content:"";
    width: 100%;
    top:50%;
    left:0;
    z-index:1;
}
.red_title span{
    font-size:24px;
    color:#ffffff;
    background-color:#ea2a36;
    line-height:37px;
    min-height:40px;
    display:inline-block;
    padding:0 30px;
    border-radius:20px;
    -o-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position:relative;
    z-index:5;
}

.large_header{
    text-align:center;
    background-color:#ffffff;
}

.large_header .faq{
    display:block;
    padding-right:20px;
    padding-top:20px;
    text-align:right;
    font-size:36px;
}

.large_header .logo{
    background:url(images/logo_large.png) no-repeat center center;
    width:320px;
    height:75px;
    display:inline-block;
}
.footer-container{
    background-color:#fafafa;
    border-top:4px solid #f2f2f2;
    margin:0 auto;
    max-width:960px;
    width:auto;
    text-align:center;
    padding:20px 0;
    color:#27368b;
    margin-bottom:10px;
    clear:both;
}
.footer-container a{color:#27368b}
.footer-container.login{
    background:none;
    border:none;
    padding:0;
}
@media (max-width:340px){.large_header .logo{width:100%;background-size:80%;}}
.btn-primary{
    background:#31328a;
    border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-family:'latoregular';
    text-shadow:none;
    font-size:16px;
    padding:10px 20px 8px;
    border:none;
    border-bottom:2px solid #2d2161;
}
.btn-primary.disabled{background:#abbac3;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background:#2D2161 !important;}
.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled:active{background:#abbac3;}
.btn i{
    font-size:16px;
    margin-right:8px;
}

.txt_intro{font-size:15px;margin:4em 0;}

.legal-link{text-align:center;margin:2em 0;}

.bloc_connect{
    border:1px solid #cccccc;
    border-top:4px solid #ea2a36;
    padding:20px;
    padding-bottom:10px;
    margin-bottom:20px;
}

.title_connect{
    color:#ea2a36;
    font-size:15px;
    font-weight:normal;
    font-family:'robotobold', Arial, Helvetica, sans-serif;
    margin-bottom:1em;
}
.bloc_connect .btn-primary{text-align:center;}
.bloc_connect label{
    display:inline-block;
    margin:0;
    width:30%;
}
.bloc_connect .form{margin:0}
input.input_connect{width:70%;box-sizing:border-box;height:30px;}
.checkbox_txt{
    display:block;
    font-size:12px;
    line-height:14px;
    padding-left:15px;
    text-indent:-15px;
}
.bloc_connect input[type="checkbox"]{
    margin-right:3px;
    margin-top:0;
    width:13px;
    height:13px;
    vertical-align:middle;
    position:relative;
    top:-1px;
    *overflow:hidden;
}

@media (min-width:768px){.btn-subscribe-connect{margin-top:136px;}}

.topnavbar .faq{
    float:right;
    font-size:36px;
    margin-right:20px;
    margin-top:15px;
}

.select-style{
    padding: 0;
    padding-right:23px;
    margin: 0;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin-left: 10px;
}
/*
.select-style:after{
    content: "\f078";
    font-family: 'FontAwesome';
    position: absolute;
    z-index: 1;
    color: #aaaaaa;
    font-size: 14px;
    border-left: 1px solid #d9d9d9;
    right: 0;
    top: 0;
    width: 26px;
    height:30px;
    line-height: 30px;
    text-align: center;

}
*/

.select-style select{
    font-size: 12px;
    font-family:'latoregular'/*, Helvetica, Arial, sans-serif*/;
    padding:0;
    padding-right:30px;
    width:auto;
    margin: 0;
    margin-right: -17px;
    z-index: 10;
    position: relative;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
}

.select-style select:focus{
    outline: none;
    background: none;
}

.form_subtilte{
    color: #ea2a36;
    font-size: 16px;
    font-family:'robotoregular', Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.select_right span.input-search-members{margin-right:0}
span.input-search-members .icon-search{
    top:8px;
    left:6px;
}
.ui-dialog .ui-dialog-buttonpane{
    margin-bottom: 10px !important;
    padding-top: 10px !important;
    background-color: #fff !important;
}
.ui-dialog-buttonset{
    text-align: center;
}

.ui-dialog-buttonset .btn:first-child{
    margin-right: 5px;
}
.title-header{
    color:#ea2a36;
    font-size:18px;
    font-weight:normal;
    font-family:'robotobold';
    margin:15px 0;
}
.input-icon > .ace-icon {
    bottom:1px;
    color:#909090;
    display:inline-block;
    font-size:16px;
    left:3px;
    line-height:30px;
    padding:0 3px;
    position:absolute;
    top:1px;
    z-index:2;
}
.input-icon.input-icon-right > .ace-icon {
    left:auto;
    right:3px;
}

.powered-by{
    width: 446px !important;
}
