/*Menu Responsive*/
.navbar-inverse .btn-navbar {
  color: #ffffff;
  background: url("images/menu_responsive.png") no-repeat;
  text-shadow: none;
  border: none;
  box-shadow:none;
  padding: 5px 30px 20px 10px;
}
.navbar .btn-navbar .icon-bar{
    border: none;
    box-shadow:none;
    background: none;
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #040404;
  *background-color: #000000;
}

.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #000000 \9;
}

.navbar-inverse .brand{ color: #FFF;}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{width: 100%;}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top{margin: 0;}

.nav-collapse .nav > li { 
    background: #fafafa; 
    border-bottom: 1px solid #eeeeee;
    font-size: 1em;
    font-family: 'latoregular';
    text-transform:  uppercase;
    font-weight: normal;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{ 
    color:#7c8389 ; 
    background: #efefef;
    box-shadow:none;
    font-weight: normal;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{padding: 0px;}
.nav-collapse .nav{margin: 0 !important;}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a{ 
    border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
font-weight: normal;
}

.navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #efefef;
  }
  .nav-collapse .nav > li > a{ margin: 0;}
  
  .navbar-inverse .brand, .navbar-inverse .nav > li > a{text-shadow:none;}
  .navbar .brand{text-shadow:none; padding-left: 10px;margin-left: 5px;}