{% extends "AprProgramBundle:Default:baseMarketingNew.html.twig" %}
{% block content %}
  <!-- FAQ -->
  <div class="faq ico-faq">
      <div class="widget widget_text">
          <div class="textwidget">
              <a class="btn_contact" href="{{path('landing_contract', {'tkn':token, 'isMember' : isMember})}}">
                  <i class="fa fa-home"></i>
                  <span>Accueil</span>
              </a>
          </div>
      </div>
  </div>
  <!-- /FAQ -->

  <div class="wrapper white">

      <header class="header clear " role="banner">
          <!-- wrapper -->
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <!-- logo -->
                  <div class="logo">
                      <a href="#">
                          <img src="{{ asset('bundles/Edtapp/img/marketing_new/logo.png')}}"  alt="Logo" class="logo-img">
                      </a>
                  </div>
                  <!-- /logo -->
              </div>
          </div>
          <!-- /wrapper -->
      </header>
      <!-- /header -->
      <div class="border-inset"></div>

      <main role="main">
          <div class="wrapper page-faq">

              <h1>Vous avez des interrogations concernant le fonctionnement de la plate-forme Coopérons! ? Voici les réponses aux questions les plus fréquemment posées :</h1>



              <article class="post-48 page type-page status-publish hentry">

                  <div class="qa-faqs qa-category cf animation-fade accordion collapsible">
                      <div class="qa-category">
                          <div class="ancre">
                              <div id="qa-faq0" class="qa-faq">
                                  <h3 class="qa-faq-title">
                                      <a class="qa-faq-anchor" href="#">Quel est le cadre contractuel des prestations assurées par mon auto-entrepreneur ? </a>
                                  </h3>
                                  <div class="qa-faq-answer">
                                      <p>Le cadre contractuel des prestations de services fourni par les auto-entrepreneurs membres de <strong>Coopérons!</strong> est basé sur un modèle de contrat de référence, fourni par <strong>Coopérons!</strong></p>
                                      <p>Grâce au système de contrats numériques proposés par <strong>Coopérons!</strong>, il vous suffit de cliquer sur le bouton “Accepter le Contrat” dans votre compte Coopérons, pour valider le contrat avec votre auto-entrepreneur.</p>
                                  </div><!--.qa-faq-answer-->
                              </div><!--.qa-faq-->
                          </div><!--.ancre-->

                          <div  class="ancre">
                              <div id="qa-faq1" class="qa-faq">
                                  <h3 class="qa-faq-title">
                                      <a class="qa-faq-anchor" href="#">Comment fonctionne le Dépôt Contrat avec mon auto-entrepreneur ? </a></h3>
                                  <div class="qa-faq-answer">
                                      <p>Une fois le contrat signé avec votre auto-entrepreneur, vous pouvez effectuer un premier règlement, à titre d’avance, sur le compte de <strong>Coopérons!</strong> (mandaté par votre auto-entrepreneur pour le paiement et la facturation de ses prestations). Vous constituez ainsi un Dépôt Contrat qui servira à régler les prestations effectuées par votre auto-entrepreneur. </p>
                                      <p>Ce Dépôt Contrat peut-être crédité par CB ou par virement bancaire sur le compte de <strong>Coopérons!</strong> </p>
                                      <p>Votre Dépôt Contrat est débité, au fur et à mesure des prestations réalisées, et votre auto-entrepreneur est automatiquement crédité des sommes correspondantes - en tenant compte d’une provision pour le règlement des cotisations sociales applicables.</p>
                                      <p>En cas de résiliation du Contrat, le solde disponible sur votre Dépôt Contrat vous est automatiquement remboursé par <strong>Coopérons!</strong> </p>
                                  </div><!--.qa-faq-answer-->
                              </div><!--.qa-faq-->
                          </div><!--.ancre-->


                          <div  class="ancre">
                              <div id="qa-faq2" class="qa-faq">
                                  <h3 class="qa-faq-title">
                                      <a class="qa-faq-anchor" href="#">Qu’est-ce que la Garantie Sociale Coopérons ? </a></h3>
                                  <div class="qa-faq-answer">
                                      <p><strong>Coopérons!</strong> vous assure du bon règlement des cotisations sociales de vos auto-entrepreneurs en effectuant leurs déclarations trimestrielles et en payant directement leurs cotisations applicables. </p>
                                      <p>La Garantie Sociale Coopérons évite donc à votre entreprise tout risque de se voir poursuivie par l’URSSAF pour le non-paiement des cotisations sociales de vos auto-entrepreneurs. </p>
                                  </div><!--.qa-faq-answer-->
                              </div><!--.qa-faq-->
                          </div><!--.ancre-->


                          <div  class="ancre">
                              <div id="qa-faq3" class="qa-faq">
                                  <h3 class="qa-faq-title">
                                      <a class="qa-faq-anchor" href="#">A quoi sert le suivi d’activité de votre auto-entrepreneur ? </a></h3>
                                  <div class="qa-faq-answer">
                                      <p>Votre Compte Entreprise vous donne accès au suivi de l’activité globale de vos auto-entrepreneurs - et vous permet de mesurer le niveau de dépendance de ces derniers envers votre entreprise.</p>
                                      <p>Il est en effet important de pouvoir vous assurer que vos auto-entrepreneurs ne sont pas dans une relation de salariat déguisée - et la pluri-activité est un élément permettant de vous en prémunir.</p>
                                  </div><!--.qa-faq-answer-->
                              </div><!--.qa-faq-->
                          </div><!--.ancre-->


                          <div  class="ancre">
                              <div id="qa-faq4" class="qa-faq">
                                  <h3 class="qa-faq-title">
                                      <a class="qa-faq-anchor" href="#">Comment fonctionnent les primes de recrutement de Coopérons ? </a></h3>
                                  <div class="qa-faq-answer">
                                      <p>Votre contrat avec un auto-entrepreneur <strong>Coopérons!</strong> prévoit le paiement par votre entreprise de primes de recrutement, lorsque celui-ci vous met en relation avec un autre auto-entrepreneur.</p>
                                      <p>Cette prime de recrutement est automatiquement compensée par une réduction du même montant des prestations fournies par l’auto-entrepreneur prestataire - et vous permet ainsi de bénéficier de la puissance du réseau de recrutement <strong>Coopérons!</strong> sans aucun coût pour votre entreprise.</p>
                                      <h4>Exemple :</h4>
                                      <p><i>Nadia souhaite que Michel l’aide à développer son activité de services administratifs aux entreprises. Ils conviennent que Michel percevra 15% de commission sur le CA apporté.
                                              Michel propose alors à votre entreprise de bénéficier des services de Nadia. Celle-ci effectue une première prestation pour votre entreprise s’élevant à 300 €. Michel facturera à votre entreprise 45 €, qui seront compensés par une réduction du même montant sur la facture de Nadia, qui ne vous facturera que 255 €.
                                          </i></p>
                                  </div><!--.qa-faq-answer-->
                              </div><!--.qa-faq-->
                          </div><!--.ancre-->



                      </div><!--.qa-category-->
                  </div><!--.qa-faqs -->



                  <br class="clear">


              </article>
              <!-- /article -->


          </div>
      </main>

  </div>

{% endblock %}