{% extends "AprProgramBundle:Default:baseMarketing.html.twig" %}
{% block content %}
    <!-- header -->
    <header class="header clear goToTopFaq " role="banner">
        <!-- wrapper -->
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!-- logo -->
                    <div class="logo">
                        <a href="#">
                            <img src={{ asset('bundles/Edtapp/img/marketing/logo.png')}} alt="Logo" class="logo-img">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
            </div>
        </div>
        <!-- /wrapper -->
    </header>
    <!-- /header -->

    <main role="main">
        <div class="wrapper">
            <!-- section -->
            <section>
                <h1>Foire aux questions: Entreprise</h1>
                <article id="post-48" class="post-48 page type-page status-publish hentry">

                    <div class="qa-faqs qa-category cf animation-fade accordion collapsible">
                        <div class="qa-category">
                            <h2 class="faq-catname">A propos de <strong><i>Coopérons !</i></strong></h2>
                            <div id="qa-faq100" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Qui sommes nous ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>Fondée en 2013, <strong><i>Coopérons !</i></strong> est une jeune entreprise
                                        de services aux entrepreneurs. <br>
                                        Nous sommes partis d'un constat simple: pour la plupart des TPE / PME, la recommandation
                                        client constitue bien souvent la première source de nouveaux clients. <br>
                                        Malheureusement, ce potentiel reste bien souvent inexploité - principalement à cause
                                        de la lourdeur administrative liée à la rémunération d'intervenants non-salariés.<br>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq101" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Que propose <strong><i>Coopérons !</i></strong> aux entreprises ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        <strong><i>Coopérons !</i></strong> permet aux entreprises d'organiser leurs
                                        programmes de stimulation et promotion commerciales au moyen de Points achetés par ces entreprises
                                        au bénéfices des membres participants.<br>
                                        Ces Points sont convertibles en chèques cadeau Amazon, au taux de 20 € pour 100 Points - et distribués
                                        chaque trimestre.<br>
                                        Le montant total de Points convertibles à chaque opération trimestrielle de distribution
                                        est limité à 140 € par an - mais peut être débloqué dans le cas où l'employeur du membre participant
                                        rejoint le réseau Coopérons.<br>
                                        Ceci nécessite au préalable la signature du Contrat de Stimulation et Promotion des Ventes entre
                                        l'employeur et <strong><i>Coopérons !</i></strong>.
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq102" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Nous contacter</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p> Une question ? Besoin de plus d'information ?<br>
                                        N'hésitez pas à nous contacter, nous serons ravis de vous répondre:
                                        Emmanuel Ifergan, fondateur et gérant de <strong><i>Coopérons !</i></strong>
                                        est joignable par email à:
                                        <a href="mailto:ei@cooperons.com">ei@cooperons.com.</a><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="qa-category">
                            <h2 class="faq-catname">Le cadre juridique</h2>
                            <div id="qa-faq200" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Quels sont les principes régissant l'attribution de chèques-cadeau dans le cadre
                                    d'opérations de stimulation ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Les chèques cadeau versés par <strong><i>Coopérons !</i></strong> constituent des avantages rémunérant
                                        l'activité des membres participants dans l'intérêt de <strong><i>Coopérons !</i></strong>.
                                        Les modalités relatives à ce type de rémunération - versée par un tiers à des salariés d'une
                                        entreprise sont régies par la circulaire n° 2012-0000042
                                        (<a href="http://www.paris.urssaf.fr/images/ref_LCIRC-2012-0000042.pdf" target="blank">téléchargeable ici</a>).<br><br>

                                        En application de cette circulaire:</p>
                                    <p>
                                        <ul>
                                        <li>les chèques-cadeau attribués par <strong><i>Coopérons !</i></strong> sont assujettis à une cotisation sociale
                                        libératoire forfaitaire de 20% (p.6 - dernier §)</li>
                                        <li>cette cotisation libératoire est <u><strong>due et payée par <i>Coopérons !</i></strong></u> au début de chaque année, pour les
                                        sommes versées l'année précédente (p.7 - §2.1.2)</li>
                                        <li><strong><i>Coopérons !</i></strong> établira les déclarations annuelles et notifiera à l'employeur
                                            des participants concernés un état récapitulant (i) les sommes versées l'année précédente et (ii) le montant
                                            des cotisations sociales réglé (p.10 - §3.1)</li>
                                    </ul></p>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq201" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Quelles sont les obligations de mon entreprise au titre de la réglementation ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        En tant qu'employeur d'un salarié percevant des chèques cadeau versés par <strong><i>Coopérons !</i></strong>, n'est soumis à <u><b>aucune
                                        obligation additionnelle</b></u> envers les organismes sociaux.<br>
                                        <strong><i>Coopérons !</i></strong> est seul responsable des déclarations et du paiement
                                        des cotisations sociales dues.<br>
                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq202" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Quelles sont les obligations de mon entreprise au titre du Contrat de Stimulation et Promotion
                                        des Ventes conclu avec <strong><i>Coopérons !</i></strong>?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        Comme vous pourrez le constater à la lecture du contrat mis à votre disposition, les obligations
                                        contractuelles incombant à votre entreprise sont très limitées (outre l'habituelle confidentialité):</p>
                                    <p>
                                        <ul>
                                        <li>vous devez vous assurer que les membres déclarant être salariés le sont bien
                                        effectivement. Ceci est facilité par le fait que ces déclarations sont préalablement validées par votre
                                        "délégué Coopérons" - c.a.d le premier de vos salariés inscrit sur <strong><i>Coopérons !</i></strong></li>
                                        <li>vous n'avez rien à payer: le service <strong><i>Coopérons !</i></strong> est totalement
                                        gratuit pour vous</li>
                                    </ul>

                                    </p>
                                </div>
                            </div>
                            <div id="qa-faq203" class="qa-faq">
                                <h3 class="qa-faq-title">
                                    <a class="qa-faq-anchor" href="#">Comment suivre les entrées et sorties de mes salariés ?</a>
                                </h3>
                                <div class="qa-faq-answer">
                                    <p>
                                        La gestion de votre effectif salarié - aussi dénommé <b>Collège Coopérons</b> de votre entreprise - est effectuée par cooptation par
                                        vos salariés membres de <strong><i>Coopérons !</i></strong>.<br>
                                        Le membre le plus ancien du Collège Coopérons de votre entreprise sera seul habilité
                                        à accepter ou refuser une nouvelle demande d'inscription - dont vous serez de toute façon informé par email.<br>
                                        En d'autres termes: vous n'avez rien à faire !
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </article>
            </section>
        </div>
    </main>
{% endblock %}