<div class="wizard-content">
    <ul class="wizard-steps">
        <li ng-class="classes[1]"><span class="step step1"><span></span><span class="title"><a ng-click="goToStep(1)">Présentation</a></span></span>
        </li>
        <li ng-class="classes[2]"><span class="step step2"><span></span><span class="title"><a ng-click="goToStep(2)">Commissionnement</a></span></span>
        </li>
        <li ng-class="classes[3]"><span class="step step3"><span></span><span class="title"><a ng-click="goToStep(3)">Conditions
            générales</a></span></span></li>
        <li ng-class="classes[4]"><span class="step step4"><span></span><span class="title"><a ng-click="goToStep(4)">Paiement</a></span></span>
        </li>
    </ul>
</div>