/* line 16, ../../../scss/modules/member/cloudsponge.scss */
.cloudsponge-widget h3 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  font-family: latoregular;
  margin-top: 0;
  margin: 0;
}
/* line 24, ../../../scss/modules/member/cloudsponge.scss */
.cloudsponge-widget .title_sub {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  color: #aaaaaa;
}
/* line 30, ../../../scss/modules/member/cloudsponge.scss */
.cloudsponge-widget a {
  color: #ffcc33;
  font-weight: bold;
}

/* line 35, ../../../scss/modules/member/cloudsponge.scss */
.widget-deep-link {
  width: 50%;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 25%;
  border-bottom: 1px solid #e7e7e7;
}

@media (max-width: 529px) {
  /* line 43, ../../../scss/modules/member/cloudsponge.scss */
  .widget-deep-link {
    width: 100%;
    margin-left: 0;
  }

  /* line 47, ../../../scss/modules/member/cloudsponge.scss */
  #form-cloudsponge {
    width: 100%;
    margin-left: 0;
  }

  /* line 51, ../../../scss/modules/member/cloudsponge.scss */
  .cloudsponge-widget h3 {
    line-height: 24px;
    padding: 10px 0;
  }
}
@media (max-width: 379px) {
  /* line 57, ../../../scss/modules/member/cloudsponge.scss */
  .widget-deep-link .deep-link {
    padding-left: 45px;
    height: 34px;
    line-height: 14px;
    padding-right: 10px;
    padding-top: 6px;
    background-position: 10px 9px;
  }
  /* line 64, ../../../scss/modules/member/cloudsponge.scss */
  .widget-deep-link .deep-link.yahoo {
    background-position: 10px -30px;
  }
  /* line 67, ../../../scss/modules/member/cloudsponge.scss */
  .widget-deep-link .deep-link.outlook {
    background-position: 10px -71px;
  }
}
/* line 72, ../../../scss/modules/member/cloudsponge.scss */
.cs_links {
  list-style: none;
  margin: 0;
}
/* line 75, ../../../scss/modules/member/cloudsponge.scss */
.cs_links li {
  border-top: 1px solid #e7e7e7;
  text-transform: uppercase;
  padding: 10px 0;
}
/* line 79, ../../../scss/modules/member/cloudsponge.scss */
.cs_links li a {
  float: right;
  color: #01a6dc;
  text-transform: initial;
  font-weight: normal;
  cursor: pointer;
}
/* line 86, ../../../scss/modules/member/cloudsponge.scss */
.cs_links li img {
  margin-right: 10px;
  display: inline-block;
  width: auto;
  height: auto;
}

/* line 94, ../../../scss/modules/member/cloudsponge.scss */
.cs-contact-form .info {
  position: absolute;
  color: #31328a;
  right: 10px;
  top: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: -10px;
}
/* line 102, ../../../scss/modules/member/cloudsponge.scss */
.cs-contact-form .info .infobulle {
  position: absolute;
  display: none;
  border: 1px solid #31328a;
  background: #ffffff;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
  color: #7c8389;
  font-size: 12px;
  bottom: 25px;
  right: -6px;
}
/* line 115, ../../../scss/modules/member/cloudsponge.scss */
.cs-contact-form .info .infobulle:before {
  content: ' ';
  position: absolute;
  right: 10px;
  bottom: -5px;
  width: 6px;
  height: 7px;
  background-color: #ffffff;
  border-top: 1px solid #31328a;
  border-left: 1px solid #31328a;
  border-bottom: none;
  border-right: none;
  transform: rotate(-135deg);
}
/* line 131, ../../../scss/modules/member/cloudsponge.scss */
.cs-contact-form .info:hover {
  color: #2d2161;
}
/* line 133, ../../../scss/modules/member/cloudsponge.scss */
.cs-contact-form .info:hover .infobulle {
  display: block;
}
