<link href="assets/modules/user/css/login.css" rel="stylesheet" type="text/css">

<section class="body-sign">
    <div class="center-sign">
        <div class="logo">
            <img alt="Coopérons" src="assets/images/default/logo_large.png">
        </div>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title m-none"><i class="fa fa-user mr-xs"></i> Mot de passe oublié </h2>
            </div>
            <div class="panel-body">
                <form name="forgetPasswordForm" ng-submit="confirmForgetPassword(forgetPasswordForm)"
                      ng-class="{'not_submitted' : !forgetPasswordForm.$submitted }" class="form" novalidate>

                    <md-input-container class="md-icon-float md-block">
                        <md-icon md-font-icon="fa fa-user" class="name"></md-icon>
                        <label>Adresse e-mail</label>
                        <input ng_model="forgetPassword.email" type="email" class="input-block-level" name="email"
                               id="email" required>

                        <div ng-messages="forgetPasswordForm.email.$error" ng-if="forgetPasswordForm.$submitted"
                             ng-messages-multiple>
                            <div class="erreurform" ng-message="required">Adresse e-mail requise</div>
                            <div class="erreurform" ng-message="email">Veuillez entrer une adresse email valide.</div>
                        </div>
                    </md-input-container>

                    <label ng-if="forgetPassword.error" class="text-error">
                        <i class="fa fa-times-circle"></i>
                        {{ forgetPassword.error }}
                    </label>
                    <label ng-if="forgetPassword.message" class="text-success">
                        {{forgetPassword.message}}
                    </label>

                    <md-input-container class="md-block">
                        <md-button class="md-raised md-primary right" id="ForgetPassword_Valider"
                                   ng-disabled="buttonDisabled" type="submit">Mot de passe oublié ?
                        </md-button>
                    </md-input-container>

                </form>
            </div>
        </div>

        <div class="text-center" ng-include="'app/layout/views/shell/footer.html'"></div>
    </div>
</section>