<link href="assets/modules/user/css/login.css" rel="stylesheet" type="text/css">

<section class="body-sign">
    <div class="center-sign">
        <div class="logo">
            <img alt="Coopérons" src="assets/images/default/logo_large.png">
        </div>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title m-none"><i class="fa fa-user mr-xs"></i> Mot de passe oublié </h2>
            </div>
            <div class="panel-body">
                <form name="resetPasswordForm" ng-submit="confirmResetPassword(resetPasswordForm)"
                      ng-class="{'not_submitted' : !resetPasswordForm.$submitted }" class="form" novalidate>
                    <md-input-container class="md-icon-float md-block">
                        <label>Nouveau mot de passe :</label>
                        <md-icon md-font-icon="fa fa-sign-in" class="name"></md-icon>
                        <input type="password" ng-model="resetPassword.firstPassword" name="plainPassword"
                               id="plainPassword"
                               required="required" ng-minlength="6" ng-change="confirmPassword(resetPasswordForm)"/>

                        <div ng-messages="resetPasswordForm.plainPassword.$error" ng-if="resetPasswordForm.$submitted">
                            <div class="erreurform" ng-message="required">
                                Mot de passe requis
                            </div>
                            <div class="erreurform" ng-message="minlength">
                                Le mot de passe est trop court(6 caractères minimum)
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block last-input">
                        <md-icon md-font-icon="fa fa-sign-in" class="name"></md-icon>
                        <label>Vérification :</label>
                        <input type="password" name="passwordConfirmation" ng-model="resetPassword.secondPassword"
                               ng-change="confirmPassword(resetPasswordForm)">

                        <div ng-messages="resetPasswordForm.passwordConfirmation.$error"
                             ng-if="resetPasswordForm.$submitted">
                            <div class="erreurform" ng-message="required">Vous devez confirmer votre mot de passe</div>
                            <div class="erreurform" ng-message="pwCheck">Les deux mots de passe ne sont pas identiques
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-button class="md-raised md-primary width-100" ng-disabled="buttonDisabled" type="submit">
                            Modifier
                        </md-button>
                    </md-input-container>


                </form>
            </div>
        </div>

        <div class="text-center" ng-include="'app/layout/views/shell/footer.html'"></div>
    </div>
</section>