/***************
  Select Field
***************/
/*** Dropdown ***/
/* line 25, ../../../scss/components/forms/select-field.scss */
select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}

/* line 34, ../../../scss/components/forms/select-field.scss */
.select-label {
  position: absolute;
}

/* line 38, ../../../scss/components/forms/select-field.scss */
.select-wrapper {
  position: relative;
}
/* line 41, ../../../scss/components/forms/select-field.scss */
.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  display: block;
}
/* line 58, ../../../scss/components/forms/select-field.scss */
.select-wrapper span.caret {
  color: initial;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 10px;
}
/* line 64, ../../../scss/components/forms/select-field.scss */
.select-wrapper span.caret.disabled {
  color: rgba(0, 0, 0, 0.26);
}
/* line 69, ../../../scss/components/forms/select-field.scss */
.select-wrapper + label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

/* line 77, ../../../scss/components/forms/select-field.scss */
select.browser-default {
  display: block;
}

/* line 80, ../../../scss/components/forms/select-field.scss */
select:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/* line 84, ../../../scss/components/forms/select-field.scss */
.select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -ms-user-select: none;
  /* IE10+ */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 93, ../../../scss/components/forms/select-field.scss */
.select-wrapper i {
  color: rgba(0, 0, 0, 0.3);
}

/* line 97, ../../../scss/components/forms/select-field.scss */
.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

/* line 106, ../../../scss/components/forms/select-field.scss */
.select-dropdown li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
  float: right;
}

/* line 115, ../../../scss/components/forms/select-field.scss */
.select-dropdown li.optgroup {
  border-top: 1px solid #eee;
}
/* line 118, ../../../scss/components/forms/select-field.scss */
.select-dropdown li.optgroup.selected > span {
  color: rgba(0, 0, 0, 0.7);
}
/* line 122, ../../../scss/components/forms/select-field.scss */
.select-dropdown li.optgroup > span {
  color: rgba(0, 0, 0, 0.4);
}
/* line 126, ../../../scss/components/forms/select-field.scss */
.select-dropdown li.optgroup ~ li:not(.optgroup) {
  padding-left: 1rem;
}
