/***************
     Switch
***************/
/* line 17, ../../../scss/components/forms/switch.scss */
.switch,
.switch * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

/* line 25, ../../../scss/components/forms/switch.scss */
.switch label {
  cursor: pointer;
}

/* line 29, ../../../scss/components/forms/switch.scss */
.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 35, ../../../scss/components/forms/switch.scss */
.switch label input[type=checkbox]:checked + .lever {
  background-color: #8788b3;
}

/* line 39, ../../../scss/components/forms/switch.scss */
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #31328a;
}

/* line 43, ../../../scss/components/forms/switch.scss */
.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

/* line 57, ../../../scss/components/forms/switch.scss */
.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #F1F1F1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -3px;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}

/* line 71, ../../../scss/components/forms/switch.scss */
.switch label input[type=checkbox]:checked + .lever:after {
  left: 24px;
}

/* line 76, ../../../scss/components/forms/switch.scss */
.switch input[type=checkbox][disabled] + .lever {
  cursor: default;
}

/* line 79, ../../../scss/components/forms/switch.scss */
.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #BDBDBD;
}

/* line 85, ../../../scss/components/forms/switch.scss */
input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(49, 50, 138, 0.1);
}

/* line 89, ../../../scss/components/forms/switch.scss */
input[type=checkbox]:not(:disabled) ~ .lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
}
