/* line 18, ../../../scss/components/accordion/accordion.scss */
.accordion {
  position: relative;
}
/* line 20, ../../../scss/components/accordion/accordion.scss */
.accordion dl {
  border: 1px solid #ddd;
}
/* line 23, ../../../scss/components/accordion/accordion.scss */
.accordion .accordion-content {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}

/* line 33, ../../../scss/components/accordion/accordion.scss */
.accordion-list {
  border: 1px solid #ddd;
}

/* line 36, ../../../scss/components/accordion/accordion.scss */
.accordionTitle {
  background-color: #27368b;
  text-align: left;
  font-weight: 400;
  padding: 18px 18px 13px;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #27368b;
}
/* line 47, ../../../scss/components/accordion/accordion.scss */
.accordionTitle:hover {
  background-color: #1c2763;
  text-decoration: none;
  cursor: pointer;
}
/* line 52, ../../../scss/components/accordion/accordion.scss */
.accordionTitle.is-expanded {
  background-color: #1c2763;
}
/* line 54, ../../../scss/components/accordion/accordion.scss */
.accordionTitle.is-expanded i.fa {
  transform: rotate(-180deg);
}
/* line 59, ../../../scss/components/accordion/accordion.scss */
.accordionTitle h4 {
  color: #fff;
  font-size: 16px;
  font-family: robotobold;
  margin: 0;
}
/* line 65, ../../../scss/components/accordion/accordion.scss */
.accordionTitle i.fa {
  transition: transform 0.3s ease-in-out;
  float: right;
  font-size: 18px;
  margin-right: 10px;
}

/* line 73, ../../../scss/components/accordion/accordion.scss */
.accordionItem {
  height: auto;
  overflow: hidden;
}
/* line 76, ../../../scss/components/accordion/accordion.scss */
.accordionItem.is-collapsed {
  max-height: 0;
  padding: 0;
}

/* line 81, ../../../scss/components/accordion/accordion.scss */
.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

/* line 84, ../../../scss/components/accordion/accordion.scss */
.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
/* line 113, ../../../scss/components/accordion/accordion.scss */
.accordion-content textarea {
  background-color: #fafafa;
  width: 100%;
  margin: 5px 0;
  min-height: 100px;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  /* line 124, ../../../scss/components/accordion/accordion.scss */
  .accordion .accordionTitle h4 {
    font-size: 13px;
  }
  /* line 127, ../../../scss/components/accordion/accordion.scss */
  .accordion .accordionTitle i.fa {
    line-height: 10px;
    font-size: 14px;
    margin-right: 0;
  }
  /* line 134, ../../../scss/components/accordion/accordion.scss */
  .accordion .accordion-content {
    padding: 10px;
  }
}
