<div class="sidebar_menu">
    <div class="reduce_menu"><a class="reduce_menu_btn"></a></div>
    <div class="nav-collapse collapse">
        <ul class="nav">
            {%for element in navbar.node%}
                <li class="{{element.id}}{%if element.active %} active{%endif%}">
                    <a href="{{element.action}}" title="{{element.label}}">{{element.label}}</a>
                </li>
            {%endfor%}
        </ul>
    </div>
</div>

<script>
    $(function() {
        $(".reduce_menu_btn").attr('title', 'Cliquez pour réduir le menu').click(function(){
        $(".main_content").toggleClass("reduced");
        var title = 'Cliquez pour réduir le menu';
        
        if( $(".main_content").hasClass("reduced")){
            title = "Cliquez pour ouvrir le menu";
        }
        $(this).attr("title", title);
        });
    });
</script>