/* line 9, ../../../scss/components/rzslider/rzslider.scss */
rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 12px;
  margin: 30px 0 15px;
  vertical-align: middle;
}
/* line 16, ../../../scss/components/rzslider/rzslider.scss */
rzslider span {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}
/* line 20, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.base {
  width: 100%;
  height: 100%;
  padding: 0;
}
/* line 25, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.bar {
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #d7d7d7 !important;
  border-radius: 4px;
  background: #d7d7d7 !important;
}
/* line 33, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.bar.selection {
  z-index: 1;
  width: 0;
  background: #5659f0 !important;
  border: 1px solid #5659f0 !important;
}
/* line 40, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.pointer {
  background: #5659f0;
  top: -6px;
  z-index: 2;
  width: 22px;
  height: 24px;
  cursor: pointer;
  border-radius: 16px;
}
/* line 49, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.pointer:hover:after {
  background: #0579b4;
}
/* line 53, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.bubble {
  top: 18px;
  padding: 1px 3px;
  color: #808080;
  cursor: default;
  font-size: 12px;
}
/* line 59, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.bubble.selection {
  top: 15px;
}
/* line 62, ../../../scss/components/rzslider/rzslider.scss */
rzslider span.bubble.limit {
  display: none;
}

/* line 68, ../../../scss/components/rzslider/rzslider.scss */
.wrapper {
  width: 97%;
}

/* line 72, ../../../scss/components/rzslider/rzslider.scss */
.DisableSlider .EnableSliderToggle {
  background: #bbbbbb !important;
  border: 1px solid #bbbbbb !important;
}
/* line 76, ../../../scss/components/rzslider/rzslider.scss */
.DisableSlider .selection {
  background: #bbbbbb !important;
  border: 1px solid #bbbbbb !important;
}
/* line 80, ../../../scss/components/rzslider/rzslider.scss */
.DisableSlider .Disabletooltip {
  display: none;
}
/* line 83, ../../../scss/components/rzslider/rzslider.scss */
.DisableSlider .DisableCOS {
  display: none;
}

/* line 88, ../../../scss/components/rzslider/rzslider.scss */
.EnableSlider .EnableSliderToggle {
  background: #1575a9;
  border: 1px solid #1575a9;
}
/* line 92, ../../../scss/components/rzslider/rzslider.scss */
.EnableSlider .Disabletooltip {
  display: block;
}
/* line 95, ../../../scss/components/rzslider/rzslider.scss */
.EnableSlider .DisableCOS {
  display: block;
}

/* line 99, ../../../scss/components/rzslider/rzslider.scss */
.disablepointer2 {
  pointer-events: none;
}

/* line 102, ../../../scss/components/rzslider/rzslider.scss */
.disablepointer3 {
  border-bottom: 8px solid #808080;
  pointer-events: none;
}

/* line 106, ../../../scss/components/rzslider/rzslider.scss */
.disablepointer4 {
  border-top: 8px solid #808080;
}

/* line 109, ../../../scss/components/rzslider/rzslider.scss */
.rzslide-addport {
  width: 100px;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

/* line 115, ../../../scss/components/rzslider/rzslider.scss */
.inputslide-port {
  float: right;
  width: 60px;
  padding: 5px 24px 5px 0;
  border: 1px solid #808080;
  border-radius: 5px;
  text-align: center;
}

/* line 124, ../../../scss/components/rzslider/rzslider.scss */
.slidearrow {
  position: absolute;
  right: 0;
  height: 23px;
  border-left: 1px solid #808080;
  width: 17%;
  top: 2px;
  padding: 2px 3px;
}

/* line 133, ../../../scss/components/rzslider/rzslider.scss */
.rzslide-addevc {
  width: 100px;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

/* line 139, ../../../scss/components/rzslider/rzslider.scss */
.inputslide-evc {
  float: right;
  width: 60px;
  padding: 5px 24px 5px 0;
  border: 1px solid #808080;
  border-radius: 5px;
  text-align: center;
}

/* line 148, ../../../scss/components/rzslider/rzslider.scss */
.slidearrow-evc {
  position: absolute;
  right: 0;
  height: 23px;
  border-left: 1px solid #808080;
  width: 17%;
  top: 2px;
  padding: 2px 3px;
}

/* line 157, ../../../scss/components/rzslider/rzslider.scss */
.rzslider-evc-size {
  width: 80%;
}

/* line 160, ../../../scss/components/rzslider/rzslider.scss */
.sliderinputbox {
  width: 100px;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

/* line 166, ../../../scss/components/rzslider/rzslider.scss */
.slidervaluebox {
  float: right;
  width: 60px;
  padding: 5px 24px 5px 0;
  border: 1px solid #808080;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

/* line 176, ../../../scss/components/rzslider/rzslider.scss */
.slidervalueincrdecr {
  position: absolute;
  right: 13px;
  height: 23px;
  border-left: 1px solid #808080;
  width: 2%;
  top: 28px;
  padding: 2px 3px;
}

/* line 185, ../../../scss/components/rzslider/rzslider.scss */
.sliderTextIncrementer {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #0579b4;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  right: 4px;
}

/* line 197, ../../../scss/components/rzslider/rzslider.scss */
.sliderTextIncrementerDisabled {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #808080;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  right: 4px;
}

/* line 209, ../../../scss/components/rzslider/rzslider.scss */
.sliderTextDecrementer {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #0579b4;
  border-radius: 5px;
  position: absolute;
  top: 16px;
  right: 4px;
}

/* line 221, ../../../scss/components/rzslider/rzslider.scss */
.sliderTextDecrementerDisabled {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #808080;
  border-radius: 5px;
  position: absolute;
  top: 16px;
  right: 4px;
}

/* line 233, ../../../scss/components/rzslider/rzslider.scss */
.scaleWrap ul {
  overflow: hidden;
  float: left;
  margin-left: -31px;
  margin-top: 12px;
  width: 97.5%;
  list-style: none;
}
/* line 240, ../../../scss/components/rzslider/rzslider.scss */
.scaleWrap ul li {
  float: left;
}
/* line 242, ../../../scss/components/rzslider/rzslider.scss */
.scaleWrap ul li:last-child {
  width: 1% !important;
}
