<md-content class="md-padding mt-lg" layout-xs="column" layout="row" ng-if="netbalances && netbalances != ''">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <span class="red-color text-md">Balances A Régler</span>

                    <div flex></div>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Compte</span></th>
                        <th md-column><span>Dépôt</span></th>
                        <th md-column><span>Provision</span></th>
                        <th md-column><span>A régler</span></th>
                        <th md-column><span>Action</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="(mandataireId, netbalance) in netbalances">
                        <td md-cell>{{netbalance.label}}</td>
                        <td md-cell>{{netbalance.depot|displayPrice}} €</td>
                        <td md-cell>{{netbalance.provision|displayPrice}} €</td>
                        <td md-cell><span data-toggle="tooltip">{{netbalance.amount|displayPrice}} €</span></td>
                        <td md-cell>
                            <md-button ng-click="confirmPayment(mandataireId, netbalance.amount)"
                                       class="md-raised md-warn">
                                Payer
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>
</md-content>