/*** Collections ***/
/* line 17, ../../../scss/components/collection/collection.scss */
md-list-item ._md-list-item-inner ._md-secondary-container,
md-list-item ._md-list-item-inner .md-secondary,
md-list-item ._md-secondary-container,
md-list-item .md-secondary {
  position: absolute;
  top: 50%;
  margin: 0;
  right: 16px;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

/* line 30, ../../../scss/components/collection/collection.scss */
.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
/* line 37, ../../../scss/components/collection/collection.scss */
.collection .collection-item {
  background-color: #fff;
  line-height: 2.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}
/* line 46, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar {
  padding-left: 10px;
  position: relative;
  display: inline-block;
  float: left;
}
/* line 51, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar img {
  max-width: 75px;
}
/* line 54, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar .title {
  display: inline-block;
  font-size: 16px;
}
/* line 59, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar p {
  margin: 0;
}
/* line 63, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}
/* line 74, ../../../scss/components/collection/collection.scss */
.collection .collection-item:last-child {
  border-bottom: none;
}
/* line 78, ../../../scss/components/collection/collection.scss */
.collection .collection-item.active {
  background-color: #31328a;
  color: #e0e0f4;
}
/* line 82, ../../../scss/components/collection/collection.scss */
.collection .collection-item.active .secondary-content {
  color: #fff;
}
/* line 87, ../../../scss/components/collection/collection.scss */
.collection a.collection-item {
  display: block;
  transition: .25s;
  color: #31328a;
}
/* line 92, ../../../scss/components/collection/collection.scss */
.collection a.collection-item:not(.active):hover {
  background-color: #ddd;
}
/* line 99, ../../../scss/components/collection/collection.scss */
.collection.with-header .collection-header {
  background-color: #fafafa;
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
  overflow: hidden;
}
/* line 105, ../../../scss/components/collection/collection.scss */
.collection.with-header .collection-item {
  padding-left: 10px;
}
/* line 109, ../../../scss/components/collection/collection.scss */
.collection.with-header .collection-item.avatar {
  padding-left: 5px;
  border-bottom: 1px dashed #e0e0e0;
}
/* line 112, ../../../scss/components/collection/collection.scss */
.collection.with-header .collection-item.avatar:last-child {
  border-bottom: none;
}

/* line 120, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar > span {
  display: inline-block;
  width: auto;
  float: left;
  margin-top: 0;
}

/* line 126, ../../../scss/components/collection/collection.scss */
.first-content {
  float: left;
}

/* line 129, ../../../scss/components/collection/collection.scss */
.secondary-content {
  float: right;
}

/* line 132, ../../../scss/components/collection/collection.scss */
.collapsible .collection {
  margin: 0;
  border: none;
}

/* line 136, ../../../scss/components/collection/collection.scss */
.collection.with-header .collection-item {
  padding: 10px;
}

/* line 137, ../../../scss/components/collection/collection.scss */
.collection .collection-item .avatar {
  min-width: 75px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  /* line 141, ../../../scss/components/collection/collection.scss */
  .commissions .txt_commission {
    padding: 0 10px;
    margin-left: 5px;
    margin-bottom: 40px;
    font-size: 12px;
  }
  /* line 148, ../../../scss/components/collection/collection.scss */
  .commissions .titre_commission span.title {
    width: 125px;
    font-size: 11px;
  }
  /* line 154, ../../../scss/components/collection/collection.scss */
  .commissions .total_commission span.title {
    width: 170px;
    font-size: 12px;
  }
  /* line 159, ../../../scss/components/collection/collection.scss */
  .commissions p {
    font-size: 12px;
  }
}
