//colors
$color_alto_approx: #ddd;
$color_chateau_green_approx: #2ba659;
$color_gallery_approx: #eee;
$color_bay_of_many_approx: #27368b;
$white: #fff;
$color_biscay_approx: #1c2763;
$alabaster: #fafafa;

//fonts
$font_0: robotobold;

// Media Query Ranges
$small-screen: 767px !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;


.accordion {
	position: relative;
	dl {
		border: 1px solid $color_alto_approx;
	}
	.accordion-content {
		background-color: $color_gallery_approx;
		font-size: 1em;
		line-height: 1.5em;
		width: 100%;
		margin: 0;
		padding: 15px;
		overflow: hidden;
	}
}
.accordion-list {
	border: 1px solid $color_alto_approx;
}
.accordionTitle {
	background-color: $color_bay_of_many_approx;
	text-align: left;
	font-weight: 400;
	padding: 18px 18px 13px;
	display: block;
	text-decoration: none;
	color: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background-color 0.5s ease-in-out;
	border-bottom: 1px solid $color_bay_of_many_approx;
	&:hover {
		background-color: $color_biscay_approx;
                text-decoration:none;
                cursor: pointer;
	}
	&.is-expanded {
		background-color: $color_biscay_approx;
		i.fa {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(-180deg);
		}
	}
	h4 {
		color: $white;
		font-size: 16px;
		font-family: $font_0;
		margin: 0;
	}
	i.fa {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.3s ease-in-out;
		float: right;
		font-size: 18px;
		margin-right: 10px;
	}
}
.accordionItem {
	height: auto;
	overflow: hidden;
	&.is-collapsed {
		max-height: 0;
		padding: 0;
	}
}
.animateIn {
	animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
	animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
	0% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.9) rotateX(-60deg);
		//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
		transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1);
	}
}
@keyframes accordionOut {
	0% {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1);
	}
	100% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.9) rotateX(-60deg);
	}
}
.accordion-content textarea {
	background-color: $alabaster;
	width: 100%;
        margin:5px 0;
	min-height: 100px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
@media #{$small-and-down} {
    .accordion{
        .accordionTitle{
            h4 {
                font-size: 13px;
            }
            i.fa {
                line-height: 10px;
                font-size: 14px;
                margin-right: 0;
            }
        }

        .accordion-content {
            padding: 10px;
        }
    }
    
  
}