/* line 1, ../../../scss/components/select/select.scss */
md-select-menu md-content {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

/* line 5, ../../../scss/components/select/select.scss */
.md-select-value .md-text {
  display: inline;
  font-size: 13px;
}

/* line 9, ../../../scss/components/select/select.scss */
md-backdrop.md-select-backdrop {
  z-index: 103;
}

/* line 13, ../../../scss/components/select/select.scss */
.md-select-menu-container {
  z-index: 104;
}

/* line 16, ../../../scss/components/select/select.scss */
.md-select-value.md-select-placeholder {
  z-index: 9999;
}

/* line 19, ../../../scss/components/select/select.scss */
md-select-menu md-content {
  min-width: 75px;
}
