/* line 1, ../../../scss/components/checkbox/checkbox.scss */
md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
  color: #e40a20;
}

/* line 5, ../../../scss/components/checkbox/checkbox.scss */
md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: #e40a20;
}

/* line 9, ../../../scss/components/checkbox/checkbox.scss */
md-checkbox .md-label {
  margin-top: 5px;
}
